[2020-04-10 19:56] rathboma opened #8 "SSH tunnel keyfile should allow a default"
Right now we're just using the native file picker, but that doesn't let us pick a 'default' keyfile.

We should flip to a label or something when a keyfile is selected so that we can display the currently selected keyfile and permit a default.

[2020-04-10 20:20] rathboma opened #9 "Empty state for core tabs view"
Right now it's just a black screen.

Need:
- empty state vue component
- something nice to put in it

[2020-04-10 20:47] rathboma opened #10 "Figure out auto-updates"
Electron builder supports this, so lets use it.

[2020-04-16 16:46] rathboma opened #12 "Publish packages to Chocolatey"
Include a package spec, pack the file, then push the file:

https://github.com/chocolatey/choco/wiki/CommandsPack

[2020-04-20 15:08] mkonda opened #13 "Consider using aes-256-gcm"
https://github.com/beekeeper-studio/beekeeper-studio/blob/981357dbc97bfd6cf3d873b0c77ad2415516ef37/src/lib/crypto.js#L5

[2020-04-20 15:18] mkonda opened #14 "Improve UUID Randomness"
Depending on what you expect the UUID to be used for, this algorithm may not be solid.

In JS Math.Random() is does not provide cryptographically secure random numbers.
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Math/random

The code appears to come from this stack overflow issue, which in a later comment offers a better solution:  https://stackoverflow.com/qu

[2020-04-20 16:44] rathboma commented on #13
What's the benefit of gcm?

[2020-04-20 16:44] #10 closed

[2020-04-20 16:44] rathboma commented on #10
Done

[2020-04-20 22:59] mkonda commented on #13
This is not a big deal but it appears that GCM was not easily supported when a key reference was first used but I think it is now and even that reference has been updated.  (see https://lollyrock.com/posts/nodejs-encryption/)

There are several reasons I brought it up:
1. GCM is authenticated encryption, CTR is not
2. In theory GCM should be faster because it can parallelize (it builds on CTR whic

[2020-04-21 10:16] ransagy opened #16 "Add support for Azure SQL Server (and Azure AD auth)"
I'd really like to give this app a good run in my day to day workload.
Most of the time, I'm working on SQL Server instances in our Azure subscription with AD/MFA authentication to use my Azure account to log in.

Please consider adding support for this connection scenario.
Thanks!

[2020-04-21 19:33] rathboma commented on #16
👍 Thanks for adding an issue. It is on our radar for sure, in fact we can use this issue to track it. Not sure when we'll get to it, but it's an important use case we want to support.

[2020-04-21 19:36] rathboma commented on #13
Thanks for all the detail!

The encryption right now is only for data that lives on a user's local machine. Many similar apps don't even bother encrypting stuff that is stored locally, even sensitive information, so I feel ok about our current solution.

I'm going to close this issue, but have bookmarked it for if we ever do some sort of remote syncing feature (when data encryption becomes an impo

[2020-04-21 19:36] #13 closed

[2020-04-21 19:37] rathboma commented on #14
Yep, this was a bit of a quick hack-in. I'll take a look at this

[2020-04-22 12:10] PaulusTM opened #17 "Postgress SSL connection"
To use Azure Postgres service we need to option to enable TLS in the connection.
In the connection string this is set by `Ssl Mode=Require;`

Am I missing a setting somewhere or is this not possible yet?

[2020-04-22 19:47] rathboma commented on #17
Hey!

I have this built into the app but is not tested yet. I'll bump it up on my priority list.

[2020-04-22 20:34] PaulusTM commented on #17
Hi @rathboma!

Is there any branch or build I can have a look at and help with testing?

[2020-04-22 21:05] rathboma commented on #17
What platform are you running on? (mac windows linux)?

[2020-04-22 21:07] PaulusTM commented on #17
Mac is my main, but I'm able to test any platform.

[2020-04-22 22:52] rathboma commented on #17
I've created an AppImage linux image build with the fix, can you check to see if it works?

https://github.com/beekeeper-studio/beekeeper-studio/releases/download/v1.1.1/Beekeeper.Studio-ssl-test.AppImage

[2020-04-23 09:05] PaulusTM commented on #17
Tested with Ubuntu 18.04 TLS and works like a charm.
<img width="796" alt="Screenshot 2020-04-23 at 11 03 54" src="https://user-images.githubusercontent.com/85584/80080671-3cacee00-8552-11ea-89fa-40f3e9816e3e.png">

[2020-04-23 12:05] rathboma commented on #17
Hooray! Thanks for helping! I'll create a bump release today

[2020-04-23 12:54] #17 closed

[2020-04-24 13:22] sajanp opened #19 "Ubuntu Repository"
Ubuntu 20.04 was just released, but simply adding the repository and going from there does not work as there is no release info for the 20.04 code name `bionic`.

A further look at the repository shows that it might only work for Ubuntu 19.04, Disco Dingo.

In which case the official documentation has you copy the following, and that won't work.

```echo "deb https://dl.bintray.com/beekeeper-studi

[2020-04-24 14:19] rathboma commented on #19
Hey @sajanp. the `bionic` line in the documentation does work fine on 20.04. In fact it works on all versions 18.04 and onwards.

I'm not a DEB expert, but the only thing `bionic` does in the sources file is to tell apt what path to look in when scanning the bintray repo. I could have called it `stable`, but wanted to communicate that it was compatible with 18.04+.

For example, Spotify just used

[2020-04-24 14:19] #19 closed

[2020-04-24 14:36] sajanp commented on #19
Certainly not a .deb export either, but here is what I'm getting and I think I can work out why through your spotify example.  On a clean install of 20.04, following the instructions in documentation entirely, here's what an apt update yields.
`E: The repository 'https://dl.bintray.com/beekeeper-studio/releases bionic Release' does not have a Release file.`

If you browse to `https://dl.bintray.co

[2020-04-24 14:39] sajanp commented on #19
@rathboma - so in summary, I would either create a folder/release file for all of the codenames supported instead of just `disco` on the server.

Or, if the package works across different ubuntu releases like spotify, update the `disco` folder to say something like `stable` and update the documentation.

[2020-04-24 14:41] rathboma commented on #19
Oh, you're totally right, I used the wrong name, doh

[2020-04-24 14:41] rathboma commented on #19
I'll update the docs, yes jut changing 'bionic' to 'disco' in the apt package list should work

[2020-04-24 14:43] sajanp commented on #19
Yep, I just confirmed.  It does work, updating the doc to say bionic is an option.  However, some people like me will question that...
- Does it mean it's only for Bionix?
- Is it going to have dependacies from older libraries?

When you have time later, just saying 'stable' is probably best.  At least until you need to build separate packages for different versions.

In any case, thank you!

[2020-04-24 14:44] rathboma commented on #19
Thanks so much for catching that mistake! You rule.

Yes in future I'll change it to stable or something similar.

[2020-04-24 21:27] BuZZ-dEE opened #20 "Oracle database support"
Please add support for the Oracle database.

[2020-04-24 21:30] BuZZ-dEE opened #21 "Provide an ARM package"
Please provide an ARM that, so that it is usable on a [Pinebook Pro](https://www.pine64.org/pinebook-pro/).

[2020-04-27 08:31] BuZZ-dEE opened #22 "Flatpak package"
Please provide a [Flatpak](https://www.flatpak.org/) package.

https://docs.flatpak.org/en/latest/

[2020-04-27 13:19] rathboma commented on #20
Will do! I'll keep this around until it's done. Probably won't be in the next release.

[2020-04-27 13:21] rathboma commented on #21
Let me look into whether I can build this on arm using GitHub actions or not.

Good idea though, love the pinebook.

[2020-04-27 13:28] rathboma commented on #22
I'll look into it. I'm a bit hesitant to support release targets that I can't easily test with, but I understand lots of folks use flatpak.

[2020-04-29 08:07] happinesskirin opened #23 "Add Maria DB as a connection option"
Is it also available in MariaDB?

[2020-04-29 09:01] kozliatko opened #24 "Support for ssh-agent with SSH tunneling"
Is possible to use ssh-agent?
I have all my keys added to my ssh-agent and would be more comfortable if I can use this way.
Store key passwords somewhere in config files is not a best practise.

[2020-04-29 10:40] iKlsR opened #25 "Display table contents when clicking on a table in the sidebar"
Left clicking on a table in the list should at minimum do a `select *` and preview the results.

[2020-04-29 10:43] iKlsR opened #26 "Support a Light Theme"
I love a good dark theme as much as anyone unfortunately some pairings don't work for everyone. When you combine 4k, tiny white text and dark backgrounds, it's easily unusable for some people.

See this link https://jessicaotis.com/academia/never-use-white-text-on-a-black-background-astygmatism-and-conference-slides/

[2020-04-29 10:44] iKlsR opened #27 "Scalable text and or interface"
Can we scale individual text or the entire UI akin to how VS Code does it? There is a lot of wasted space at 4k and the small text can be hard to discern.

[2020-04-29 10:49] iKlsR commented on #25
I know it's coming and the project is still in it's early stages but have been wanting to do something similar for a while now (was going to use Qt) so stumbling on this is great and I'd love to help out if we can create some milestones, planned features etc.

[2020-04-29 10:51] iKlsR commented on #27
This could be seen as a band-aid of sorts for #26

[2020-04-29 11:27] ayder opened #28 "File open/save is missing on sql editor."
I would like to open sql files from filesystem as well as save them there.

[2020-04-29 11:35] ayder opened #29 "Query results likely be copied to clipboard"
rather then exporting all the result set to csv, query results as row or partial columns likely to be copied to clipboard.

Copy as json, and copy as sql_insert would be neat too

[2020-04-29 14:22] rathboma commented on #23
Hey! I've not tested it, but the MySQL connector should work just fine with MariaDB.

I'll keep this issue around so we can add a mariaDB entry to the drop down

[2020-04-29 14:23] rathboma commented on #23
Task: Map MariaDB to the MySQL connector, or optionally use node-mariadb

[2020-04-29 14:25] rathboma commented on #28
Yep! Totally makes sense :-).

We'll track the todo in this issue. Temporary workaround is to copy/paste from your sql file.

[2020-04-29 14:26] rathboma commented on #24
It's a good question. I'm not sure the libraries I'm using support it. I'll check

[2020-04-29 14:27] rathboma commented on #26
Hey! We have a light-theme in the works. Stay tuned :-)

[2020-04-29 14:28] rathboma commented on #27
We'll think about this, we might need to pump up the default text sizes across the board.

Do you have a screenshot of how it looks on your 4k monitor?

[2020-04-29 14:33] iKlsR commented on #27
![](https://i.imgur.com/TvBKNxS.jpg)

it doesn't look bad but could be bigger, I've unwillingly become part of a group that has to avoid eye straining interfaces, heh. A global scale value would be nice.

[2020-04-29 15:01] iKlsR commented on #28
Worth noting that drag and drop works naturally for the textarea.

[2020-04-29 15:24] lordrak007 opened #30 "Enable Active Directory Authentication for SQL Server (and other dbs?)"
Hello,
i have tried connect to sqlserver using AD login but it failed.
How to login using domain account?
Thanks

[2020-04-29 17:08] rathboma commented on #27
Oh yeah that's interesting. I'm guessing you're not using OS-level hi-dpi scaling?

[2020-04-29 17:11] rathboma commented on #25
Working on it!

[2020-04-29 18:51] rathboma commented on #29
Yes agreed.

[2020-04-30 07:48] iKlsR commented on #27
@rathboma Actually yes, I'm at 150%.

[2020-04-30 13:19] MrGKanev opened #32 "Bugged text when adding an Private key"
Hi,
When I tried to add a private key file every time i see the text like boxes. (https://imgur.com/8jK1lSC)
**OS**:
DISTRIB_ID=ManjaroLinux
DISTRIB_RELEASE=20.0
DISTRIB_CODENAME=Lysia
DISTRIB_DESCRIPTION="Manjaro Linux"
**Using**:
snaps
**version of the snap**:
1.1.3

[2020-04-30 13:51] rathboma commented on #30
Hey! Right now I don't think this is possible with Beekeeper Studio. It's on our radar though.

[2020-04-30 13:53] rathboma commented on #32
Wow, that's weird. What you should see is your native OS file-picker.

Looks like a problem with the snap not being able to access native fonts? I'll spin up a Manjaro VM and test it there. This works fine on Ubuntu VMs, so probably just a missing package dependency I need to specify

[2020-04-30 13:55] MrGKanev commented on #32
@rathboma if you need help with testing i can help . :)

[2020-04-30 13:56] rathboma commented on #32
Thanks! I'll post to the snapcraft forums and try to replicate the issue. I'll ping this thread when I have a fix!

[2020-04-30 23:00] sekhargullapalli opened #34 "Trim the host text value before attempting connection"
When using a DNS name, the connection fails if there are trailing white spaces. It is desirable to trim the white spaces for the host value before attempting to connect. This is for mysql.

[2020-05-02 20:33] rathboma commented on #34
Nice catch! Good idea :-)

[2020-05-03 12:31] gnovaro commented on #28
Adding a menu bar? For example if you want to establish another connection..  and other features like Formating SQL.

[2020-05-03 12:35] gnovaro opened #36 "Create a right click menu in table tree"
With options like "Open table" that basically do a SELECT * FROM table ...
"Alter table" Generate ALTER SQL in a tab.

[2020-05-03 13:25] gnovaro opened #37 "The result tab shows the name of the columns with a capital letter when it is not really like this."
The result tab shows the name of the columns with a capital letter when it is not really like this.
![Captura de pantalla de 2020-05-03 14-13-53](https://user-images.githubusercontent.com/270990/80915388-59b39f00-8d52-11ea-8142-a5e0d08e98c7.png)

[2020-05-03 15:52] gnovaro opened #38 "Execution time in results"
SQL queries sometimes are slow... for example if you don't use indexes. Showing query time in seconds is a nice to have feature.

[2020-05-03 23:44] AqilCont opened #39 "Editing rows by double click"
A very loved feature from our MySQL Workbench. Clicking on a row in the retrieved data from a query replaces the text present there with a text input, where you can input the new value. Would appreciate this a lot, and would make me happily switch over.

[2020-05-04 03:26] rathboma commented on #28
Yep, that's on the cards too, but we're starting simple and working iteratively. There will be fairly regular releases with new features as we get to them :-). Just 2 of us with less than 5 hours a week each working on this really.

[2020-05-04 03:29] iKlsR commented on #28
If you can draft up some milestones and put features under what's next for
a release I'm sure myself and others wouldn't mind jumping in. I've been
wanting something simple and lightweight like this for a while now.

On Sun, May 3, 2020, 22:26 Matthew Rathbone <notifications@github.com>
wrote:

[2020-05-04 04:03] chrisdlangton opened #40 "beekeeper-studio snap does not have permission to read ssh keys"
Using the snap, the only version of this app shown to Ubuntu 20.04 users, makes this app borked for all purposes when not connecting to a local database.
So for any prod use, this app is completely borked

Basically snap will not allow access to filesystem, so SSH keys are inaccessible.

You could solve the issue by any;

1.Running in snap with unconfined mode (not a secure choice, but is usable a

[2020-05-04 20:23] rathboma commented on #40
Well, that is annoying. Thanks for finding this bug!

I'll look into a way forward for this. Perhaps there's a permission system to approve local file access. In the meantime, there is a .deb install process, but yes it is not in the Ubuntu store.

[2020-05-04 21:04] rathboma commented on #40
So I took a look and I have the 'best' permission set - `home` which provides access to a user's home directory, but does not allow access to hidden files.... uck.

I'll ask in the snapcraft forums

[2020-05-04 21:41] rathboma commented on #40
I've submitted a snap store request to allow all personal files to be auto-connected

[2020-05-04 21:42] rathboma commented on #38
Agreed!

This would be a nice thing to add. Should be pretty easy too

[2020-05-04 21:43] rathboma commented on #39
:100:. We're working towards this feature step by step. Stay tuned!

First step is the #33 PR which allows viewing table data, from there I can work towards implementing the editing interface.

[2020-05-04 21:44] rathboma commented on #37
Yep, this is a bug, will be fixed by #33

[2020-05-04 21:45] rathboma commented on #36
I actually really like the idea of having table-operation snippets like this. #33 implements table-viewing capabilities, but I love the idea of the alter / update snippets. Will think on it.

[2020-05-05 01:41] rathboma commented on #32
@MrGKanev can you start beekeeper from the terminal and see if there are any errors in the shell?

`$> beekeeper-studio`

I'd be looking for a missing font error or something like that.

[2020-05-05 05:33] MrGKanev commented on #32
Hi @rathboma, personally I didn't see anything connected with it. Here is the output I saw so you can take another look at it. (https://pastebin.com/FEtad1wG)

[2020-05-05 13:19] gnovaro opened #42 "Executing multiple queries show 1 row affected..."
I executing multiple inserts and go well but show 1 row affected only..

![Captura de pantalla de 2020-05-05 15-16-58](https://user-images.githubusercontent.com/270990/81070525-a11d6500-8ee3-11ea-8c2c-815c33bb9e4a.png)

[2020-05-05 13:29] gnovaro commented on #23
I use in ubuntu with "mysql" option and works well.

[2020-05-05 15:07] rathboma commented on #23
I'm adding an explicit setting as part of #33

[2020-05-05 22:24] rathboma commented on #42
I think it's only showing the output from the first query. You're right it should show output from all of them.

It is running all of them.

[2020-05-05 22:52] rathboma opened #44 "Show multiple result tables if query returned multiple results"
currently if you execute a query with multiple select statements you only get to see the results of the first statement.

There should be some way to see the results of all the queries.

![Screen Shot 2020-05-05 at 5 51 16 PM](https://user-images.githubusercontent.com/279769/81123598-121b4780-8ef9-11ea-9708-30e74a1a9371.png)

[2020-05-05 22:53] rathboma commented on #44
@gregorygarden The only ways I can think to do this:

1. Have tabs in the result area for each result if there are more than one
2. Have tab-like pills or a dropdown in the footer to switch the resultset being viewed

Not sure I like any of these?

[2020-05-06 01:53] #25 closed

[2020-05-06 14:28] #37 closed

[2020-05-06 19:35] baarkerlounger opened #46 "Impossible search error message"
If you try and impossible search filter (for example `LIKE %string%` on an Integer field, you get red text saying error on screen but no further information.

Bubbling up some error causes in a popup would probably be more user friendly.

[2020-05-06 21:17] gnovaro opened #47 "Feature: Import data from CSV"
For MySQL / MariaDB make a LOAD DATA INFILE maybe..

[2020-05-06 22:49] rathboma commented on #46
Hey! Can I ask what DB you are running that against?

We do try to bubble up the errors usually, but some of the databases don't always give a good response, we might have to do our own checking.

[2020-05-06 22:50] rathboma commented on #47
Agreed that would be awesome.

I'll be working on data editing / loading in a future update.

[2020-05-06 23:54] hjone72 opened #48 "Windows integrated login for MSSQL"
As the title says, I'd really like for windows integrated login for MSSQL.

Thanks,

[2020-05-07 01:07] ldub opened #49 "PPK Private keys don't work for ssh tunneling"
[code]

Key was generated with the following command:
[code]

[2020-05-07 01:21] kryptonianson commented on #48
This is a must for me as well. Thanks for considering.

[2020-05-07 01:40] patrickandroid opened #50 "Issue connecting to Postgres with blank username/password"
Hi,
I was just trying out Beekeeper Studio but I'm having an issue connecting to a PostgreSQL@11 database with a blank username/password.
I'm able to connect using Postico.
Screenshot: https://ibb.co/KNyYX6v
Thanks

[2020-05-07 01:42] ldub commented on #49
not sure why, but my key starts with:

`-----BEGIN OPENSSH PRIVATE KEY-----`

Running it through `puttygen` and then back through `ssh-keygen` made it work.

[2020-05-07 01:43] ldub opened #51 "SSH Tunneling doesn't work"
When using a postgres database with an ssh tunnel, beekeeper shows that the database has no tables.

[2020-05-07 01:57] CptMonac opened #52 "Postgres: Display views and tables from multiple schemas"
It looks like by default, the tables & views displayed are only those in the public schema

[2020-05-07 02:00] rathboma commented on #51
interesting. Let me investigate.

[2020-05-07 02:03] rathboma commented on #49
Yes you're right. I'm assuming the original file was a `ppk` file?

Seems to be similar to https://github.com/liximomo/vscode-sftp/issues/594

[2020-05-07 02:04] rathboma commented on #52
Yes this is correct until I figure out a way to add the a schema dropdown to the UI.

Will work on this soon. I consider this a bug.

[2020-05-07 02:25] XzAeRo commented on #51
I just tried with a MariaDB server and happens the same. After switching between several databases, they tables did show up... Maybe a loading/latency issue?

[2020-05-07 02:35] rathboma commented on #50
Interesting. Can you take a screenshot of the postico connection screen? Is it using a socket connection rather than a TCP connection maybe?

[2020-05-07 03:33] manngo commented on #44
I don’t know whether this should be added here or as a new bug report. I think it’s the same problem.

When you run something like:

[code]

The result is

Evidently only the first statement is executed.

[2020-05-07 03:40] bradennapier commented on #51
I can't even get tunneling to work at all?  Just says it cant connect.  Same config works flawless for SequelPro and SQLPro

[2020-05-07 05:18] dwelch2344 commented on #52
We tend to work across a ton of schemas, so I'd prefer not to have to switch schemas each time I want to see something in another context. Perhaps a collapsible tree component (eventually being able to specify "all schemas" or check only those you're interested in at the connection level)?

[2020-05-07 05:19] dwelch2344 opened #53 "Adopt a component library"
Love what I'm seeing as our team has been preparing to build something like this as FOSS for a while. Fired things up against a local postgres and ran into the single-schema issue in #52. Took a look at adding a second select box and saw your comment about getting a library.

Probably a good call regardless, unless you're really tightly controlling scope. We have used and loved Vuetify, and I'd be

[2020-05-07 06:25] zaifastafa opened #54 "HEX id are not shown correctly"
HEX fields are not shown properly.

[2020-05-07 06:39] dwelch2344 commented on #52
Took a quick stab at following the `TableListItem` pattern and wrapping it in a `SchemaContainer` type component. Right now it pulls all tables in all schemas, but being able to specify those schemas in the connection would probably be good to have with this kind of approach.

Video linked below. Thoughts?

https://drive.google.com/file/d/1cAYel_bj7h3LD1yw3NuhzOD3OMjenyvt/view?usp=sharing

[2020-05-07 06:42] p1u3o commented on #22
I wouldn't mind assisting with this and putting together an initial manifest, it would be cool to have a better package for distros like Fedora.

[2020-05-07 06:55] k3rni opened #55 "getattrinfo: ENOTFOUND when using libnss plugins"
Setup: I'm using docker-compose to launch a Postgres instance, and [docker-nss](https://github.com/danni/docker-nss) to resolve its internal IP address by name, which is equivalent to its container name suffixed with `.docker`.

This works very well with `psql` and any database-connecting libraries (`libpq` wrappers for various languages). But beekeeper shows a red `getaddrinfo ENOTFOUND` when I e

[2020-05-07 07:01] szacchino opened #56 "Multiple queries in same tab"
In other tools I like the ability to write multiple queries in the same text area and then execute the one on which the cursor is placed. A query is delimited by an empty line. Example
[code]
If I place the cursor in lines 1-3 and press CTRL-Enter I execute the first query.
Similarly in lines 5-8 I execute the second one.

[2020-05-07 07:08] k3rni opened #57 "JSONB columns display as [object Object]"
![image](https://user-images.githubusercontent.com/200996/81264702-24ed6380-9042-11ea-89f3-b7792b8b77b9.png)

here, the `data` column is JSONB with a toplevel array of objects.

Same for query output.

[code]

[2020-05-07 07:53] ifokeev commented on #52
I'm trying to connect to not default schema in my `postgres` database and see `no tables` at all.

<img width="1312" alt="Screenshot 2020-05-07 at 10 51 50" src="https://user-images.githubusercontent.com/2017148/81268556-c24f9400-9050-11ea-8b77-ccf80b4c426d.png">

[2020-05-07 07:56] brylie opened #58 "Support for materialized views"
For some reason, PostgreSQL materialized views don't seem to appear in the tables list. Tables and views are listed correctly. This issue was reported by a colleague of mine and I have verified that materialized views are not appearing.

[2020-05-07 08:18] baarkerlounger commented on #46
@rathboma tried this on Postgres

[2020-05-07 08:18] Gys opened #59 "Can not connect to Digital Ocean: ER_NOT_SUPPORTED_AUTH_MODE"
I am trying to connect to a mysql managed db on Digital Ocean (DO) but that fails. It is a mysql 8.x instance.

Problem 1:

Error:
ER_NOT_SUPPORTED_AUTH_MODE: Client does not support authentication protocol requested by server; consider upgrading MySQL client

DO explanation:
... error message means you are attempting to connect to MySQL using an application or a version 5.x client that does not s

[2020-05-07 08:56] GuillaumeLegendre opened #60 "Show the structure of a table"
Currently I can see the fields and type of a table.

But it would be great if we could see those information of the structure of the table:
• The default of a column
• The constraint of a column (primary key, foreign key, not null, uniq...)

The indexes of a table with those infos:
• name
• type (primary key index, index, uniq, constraint...)
• columns affected

[2020-05-07 09:01] silverfrost commented on #48
Absolutely - I have databases that only use this. Also... I think it is trivial, only requiring a small change to the connection string.

[2020-05-07 09:10] GuillaumeLegendre opened #61 "Shortcut cmd + w should close a tab"
Currently, using cmd + w (on mac) close the window and the connexion to the database.

I was expecting it to close the tab I was working on.

I guess this apply also with ctrl + w on windows and linux.

[2020-05-07 09:21] gempir opened #62 "EADDRINUSE when connecting to vagrant"
`connect EADDRINUSE 192.168.24.24:22 - Local (0.0.0.0:8001)`

I'm trying to connect to the mysql DB hosted in my local vagrant machine.
But I'm getting an `EADDRINUSE`, I do have other ssh connections to the vagrant machine open at the same time.

Also it would have been nice if beekeeper would use the default ssh settings and key file instead of me manually providing the key file and not being ab

[2020-05-07 09:24] danilopolani opened #63 "[Enhancement] Pick color for each connection to quickly distinguish them"
It would be nice to be able to pick a color (from a fixed selection is fine too, like Sequel Pro) that will be shown as background color in the saved connection to quickly distinguish them.

[2020-05-07 09:25] danilopolani opened #64 "[Enhancement] Double click on table to show records"
Currently you have to click on a tiny icon and at a first glance it's not really friendly, maybe implementing a double click to achieve this would be better?

[2020-05-07 09:33] danilopolani opened #65 "[Enhancement] Ability to create folder in saved connection"
It would be awesome to have the chance to create folders to better arrange the saved connections

[2020-05-07 11:56] Campano opened #66 "[Enhancement] Add HSQLDB support"
Not much to say, it would be neat to add [HSQL](http://hsqldb.org/) support for Java developers.

[2020-05-07 12:47] chrisgaraffa commented on #50
Same with my local Postgres 10 and 11 instances, with no username.

red error text reads "no PostgreSQL user name specified in startup packet"

I'm able to connect with PSequel and of course from the command line.

[2020-05-07 12:59] dougmartin opened #67 "Change result download link from automatically sending csv to a menu to select download format"
Enhancement request:

Change the link here:

https://github.com/beekeeper-studio/beekeeper-studio/blob/b4d2b15f94a46ac6d18277582e241249754cff46/src/components/TabQueryEditor.vue#L38

to a menu allowing the user to select the various formats allowed by Tabulator (http://tabulator.info/docs/4.6/download):

[code]

then update this line to use the selected format:

https://github.com/beekeeper-studio

[2020-05-07 13:01] Thiht opened #68 "Typo on the footer logo on the website"
Hey,
On the website you have a typo on the logo in your footer. It says Beekepeer instead of Beekeeper :)

<img width="375" alt="Capture d’écran 2020-05-07 à 15 00 39" src="https://user-images.githubusercontent.com/2796344/81297469-9396e500-9073-11ea-830a-1b44211c1f9f.png">

[2020-05-07 13:03] rathboma commented on #53
I'm not so hot on component libraries, and my co-creator likes to have full control of those aspects.

If you do want to take a stab at #52 it shouldn't actually be too difficult, see `CoreSidebar.vue`, `postgresql.js`, and `store/index.js` as core integration points

[2020-05-07 13:07] rathboma commented on #52
@dwelch2344 That actually looks pretty awesome. Want to create a PR and we can iterate on it?

[2020-05-07 13:08] rathboma commented on #52
Another option is to previx the schema on the table name, but I think that's a little ugly, eg `public.foo`, and `contacts.bar`

[2020-05-07 13:09] rathboma commented on #48
@silverfrost interesting. I'd thought it was really hard to do. Let me look into it

[2020-05-07 13:10] rathboma commented on #50
I think in reality it just uses your OS username. Do me a favor and just enter any old username in the username field and see if that works?

[2020-05-07 13:20] MajoDurco opened #69 "Error in viewing the table data"
**Beekeeper: Version 1.2.0 (1.2.0)**
**Platform: macOS Catalina 10.15.2**

Hey, I freshly downloaded the beekeeper 🐝connected to local Postgres. Unfortunately got an error when I tried to show the table data. Please see the following screenshot.

<img width="600" alt="Screenshot 2020-05-07 at 15 05 46" src="https://user-images.githubusercontent.com/13154028/81298673-63504600-9075-11ea-9159-2a3e10e

[2020-05-07 13:24] MajoDurco opened #71 "Case sensitive filtering"
**Beekeeper: Version 1.2.0 (1.2.0)**

I've noticed that the filtering of the tables is case sensitive and just would like to ask if that's intentional or it can be changed to case insensitive? Thanks 👍

[2020-05-07 13:25] pdepip commented on #51
If I had to guess, I'd say a lot of these issues are stemming from things like not supporting jump hosts, which could be resolved by taking the users ssh config file into consideration?

[2020-05-07 13:26] rathboma commented on #71
Oh, yes that's a bug :-)

[2020-05-07 13:35] rathboma commented on #69
Can you try clicking a header to sort the table? Does that make it work?

[2020-05-07 13:36] rathboma commented on #68
hah! Thanks. @ghstng for you!

[2020-05-07 13:37] ssuess commented on #51
Same issue here, trying to connect to MySQL. It connects (always on SECOND try btw, not first) and then shows no tables or dbs

[2020-05-07 13:37] rathboma commented on #61
:100: the keybinding is there, just MacOS overrides it (grr). I can do it a different way I think

[2020-05-07 13:38] rathboma commented on #59
Thanks for the heads up. I'll investigate

[2020-05-07 13:41] MajoDurco commented on #69
Forgot to mention one thing the red error disappears after a while and it's replaced with a blank screen. When I try to search for something the same error appears and again it disappears after a while.

[2020-05-07 13:41] rathboma commented on #51
Yeah the tunneling code is a little flaky right now. Running queries through the tunnel isn't great.

I haven't spent much time on that code, but I'm prioritizing the connection bugs.

[2020-05-07 13:43] MajoDurco commented on #71
Thank you for a quick fix 🙂

[2020-05-07 13:44] rathboma commented on #56
I also like that! It's on the todo list for sure

[2020-05-07 13:47] rathboma commented on #48
Might just need to add `domain`: https://github.com/tediousjs/node-mssql#general-same-for-all-drivers

[2020-05-07 13:58] ghstng commented on #52
@rathboma @dwelch2344 I'm good with it -- PR and I can do some styling cleanup

[2020-05-07 14:02] ghstng commented on #68
lol... oops. Tks

[2020-05-07 14:04] ghstng commented on #68
pushed

[2020-05-07 14:04] #68 closed

[2020-05-07 14:29] dwelch2344 commented on #52
@rathboma ew yeah I think that'd be a huge turn off to anyone who leverages schemas for namespacing / isolation.

IntelliJ / DataGrip have really good tooling for RDBMS, and they handle it similarly with a tree component like this – was where I got the idea ;) I don't love that they mash everything (including multiple database connections) into it, but it does work well when you have multiple data

[2020-05-07 14:35] dwelch2344 commented on #52
Ok @ghstng opened #73 to get some feedback. Definitely needs some love / controls, but think this could be a great direction

[2020-05-07 15:10] JimmyCozza opened #74 "Postgres connection should respect identifier "case""
Hey, LOVE this project.  I have been missing postico since I moved to linux, and this looks very promising.

I noticed that postgres connections have trouble when identifiers are not set up all lower cased.

For example, we have a column named "companyName" (our sin, not yours), and the default is for postgres to cast that to "companyname"

Would you be open to a solution for postgres users such a

[2020-05-07 15:28] chrisgaraffa commented on #50
Interesting! Adding random text into the username field didn't work, entering my macOS username (chris) worked. Thanks for the workaround!

[2020-05-07 15:56] badgeekluck opened #76 "Query table result field need max-width"
I have a post table with many fields. When I query some posts, returns every thing in fields. Like a infinite, long field. It affects performance of app.

P.S: Sorry for my bad English.

[2020-05-07 15:57] jimmy123j opened #77 "Portable version ?"
Can support the portable version ? Thanks !!

[2020-05-07 16:05] Ahmad-Ibrahim opened #79 "Postgresql Schema"
How can I switch postgresql schema? Is this feature implemented?

[2020-05-07 17:02] patrickandroid commented on #50
Setting my username to my macOS username worked 👍

[2020-05-07 18:04] victorhahn opened #80 "Redis connection option"
Would love to see a Redis connection option similar to Table Plus. Great work, will be watching this project for updates!

[2020-05-07 19:08] CptMonac opened #81 "Shortcut Ctrl+E to execute query"
More of a feature request here. But a few SQL clients implement this shortcut so you can execute the query using just one hand

[2020-05-07 21:34] danipolo opened #83 "Big Query support"
Nice project guys, why not BigQuery support?

[2020-05-07 22:16] dharmeshkakadia opened #84 "Download links has a signature verfication issue"
All the release links here https://github.com/beekeeper-studio/beekeeper-studio/releases or on the websites are leading to

[code]

[2020-05-07 22:23] BilalBudhani commented on #84
I'm facing this same issue, thou, I think it is broken from Github's side.

[2020-05-07 22:44] rathboma commented on #81
right now it's ctrl+enter, I'm going to make a keymapping settings file at some point. I'll close this issue as I'm tracking that as a separate thought / item

[2020-05-07 22:44] #81 closed

[2020-05-07 22:45] rathboma commented on #83
If you can persuade google to give us a bunch of test credits I'll happily build a connection provider for it :-)

[2020-05-07 22:46] rathboma commented on #53
gonna close this ticket as we have a PR

[2020-05-07 22:46] #53 closed

[2020-05-07 22:46] rathboma commented on #54
Can you give me an example? Info I need:

1. Database type
2. What it looks like
3. What it should look like

Ideally a screenshot would be amaz

[2020-05-07 22:47] rathboma commented on #58
Interesting. This is a bug, I'll take a look

[2020-05-07 22:47] rathboma commented on #57
lol, what's the problem that looks soo good!

[2020-05-07 22:49] rathboma commented on #55
That's interesting. Yeah I'm using the default node-psql library without the libpq plug-in. I wonder if it does hostname resolution differently.

Can you show me how to set up that specific DNS setup?

[2020-05-07 22:50] rathboma commented on #60
:100: it's on the next major feature push

[2020-05-07 22:50] rathboma commented on #80
How do you query redis data in table-plus? Not with SQL?

[2020-05-07 22:51] rathboma commented on #79
Not yet! Coming soon.

[2020-05-07 22:51] rathboma commented on #79
duplicate of #73

[2020-05-07 22:51] #79 closed

[2020-05-07 22:52] rathboma commented on #77
Not sure how possible this is with Electron, but I'll look into it. Are you on Windows?

[2020-05-07 23:18] danipolo commented on #83
how much do you need? 👯

[2020-05-07 23:49] jordanlewis opened #87 "CockroachDB support"
Hi,

Thanks for the great tool! I think it would be very easy to add CockroachDB support to Beekeeper Studio: we'd just need a copy of the PostgreSQL driver that has a different default port (26257). Cheers and thanks again!

[2020-05-08 02:11] victorhahn commented on #80
My understanding is that it would use redis commands to query data, not SQL.

https://tableplus.com/blog/2018/06/best-redis-gui-client-tableplus.html

This feature along with JSONB support (currently outputs [Object Object]) would make our team extremely interested in using beekeeper for our projects!

[2020-05-08 02:25] zaifastafa commented on #54
@rathboma Hi,

here is the expected result for a HEX:

![screenshot](https://user-images.githubusercontent.com/24492269/81363370-9c7fc900-90fc-11ea-8201-45e05108d49a.png)

And here is the current result:
![screenshot_1](https://user-images.githubusercontent.com/24492269/81363540-04ceaa80-90fd-11ea-8a66-15b54f647173.png)

Reference: https://dev.mysql.com/doc/refman/5.7/en/string-functions.html#func

[2020-05-08 02:55] #74 closed

[2020-05-08 03:00] rathboma commented on #84
Yeah github was having issues across the board, try again now?

[2020-05-08 03:01] rathboma commented on #76
@ghstng wanna take this one?

[2020-05-08 03:02] #71 closed

[2020-05-08 03:03] #50 closed

[2020-05-08 03:32] rathboma commented on #59
Not sure what platform you are on, but can you download the artifacts from:
https://github.com/beekeeper-studio/beekeeper-studio/actions/runs/98791837

When the build is done, and see if it works?

[2020-05-08 03:32] rathboma commented on #59
(this is a fix for the AUTH_MODE, not the ssl client certificate)

[2020-05-08 03:40] rathboma opened #89 "SSL - allow users to provide a certificate or CA for SSL connections"
Ideal behavior:

Provide an automatically drop-down for common CAs:
- Amazon RDS
- Azure
- GCP
- Digital Ocean

Allow users to provide CA / Cert+key for other connections

[2020-05-08 03:53] rathboma commented on #54
Thanks! I'll take a look

[2020-05-08 05:08] fritzlorens opened #90 "[Enhancement] Auto limit on query"
As the title says, having an auto limit would be a nice addition and would help a lot! :)

[2020-05-08 05:57] dharmeshkakadia commented on #84
Works now!

[2020-05-08 05:57] #84 closed

[2020-05-08 06:04] bijai commented on #56
Something like selecting a query (highlighting it) and doing a Ctrl+Enter to execute that selected query would be good too.

[2020-05-08 06:49] carstenh opened #91 "Can't select SSH-Key-File in hidden folder on MacOS Catalina"
I'm on a mac and if I want to select my SSH-Key-File which is located here `~/.ssh/id_rsa` I can't find any way to select it. The file selection window does not show hidden folders.

[2020-05-08 07:27] k3rni commented on #55
Sure! With one correction: there are two similar projects on Github, and I've linked to the wrong one, now corrected. This is all under Linux, other platforms may lack this feature.

However, there should be nothing for you to do actually, if you're using regular libc name lookup, and not something that uses DNS directly (skipping other mechanisms, which this is one of).

1. Install `libnss-docker

[2020-05-08 09:26] Gys commented on #59
The ER_NOT_SUPPORTED_AUTH_MODE error is gone. Now it just fails to make a connection after a few seconds. Server disconnected. I think this is indeed progress ;-)
Hope you can fix the certificate as well

[2020-05-08 13:52] rathboma commented on #90
As in when you write `select * from foo` in the query editor?

[2020-05-08 13:54] rathboma commented on #91
I'm assuming you're on Linux and using the Snap?

This is a security problem with Snaps right now. I'm working on a long-term solution. Temporarily you'll have to move the private keys to a non-hidden directory inside your home directory.

[2020-05-08 13:58] rathboma commented on #87
Thanks!

For anyone interested in a contribution, I think this is fairly straightforward and would require slight changes in:
clients/index.js (key name to driver)
config.js (default port)
ConnectionInterface.vue - adding to the UI

That might be it? You could draft of the `mariadb` implementation (it's the same, but with the mysql driver)

[2020-05-08 14:01] carstenh commented on #91
Hi, no I'm on a MacBook Pro with OS X Catalina 10.15.4. But the problem seems to be the same.

[2020-05-08 14:06] rathboma commented on #91
I think since Catalina they put in more security checks, so yes likely the same. I'll investigate and look into a fix.

[2020-05-08 14:30] danilopolani commented on #91
Maybe #92  could solve?

[2020-05-08 14:48] andrewgalbraith commented on #48
Would also love to have this; tried to work around this to try and get it to work without luck.

[2020-05-08 15:15] carstenh commented on #91
By looking at the changes in https://github.com/beekeeper-studio/beekeeper-studio/pull/92 it looks like it solves the problem.

[2020-05-08 15:46] rathboma commented on #77
@jimmy123j can you download this build - https://github.com/beekeeper-studio/beekeeper-studio/suites/663475268/artifacts/5872764

and see if the *-portable.exe works?

[2020-05-08 16:03] jimmy123j commented on #77
@rathboma thanks for ur help sir, portable.exe can be ran on win 10
but the server at my company, so i'll try it on monday and feedback to u
if'u have time, might u can release the new ver. including portable ver.
cause many company has PIP rule, we can't install App at company
Thanks again, sir !!

[2020-05-08 17:09] rathboma commented on #77
Yay! I'll be doing a new release next week with a bunch of bug fixes, so I'll roll the portable release into that.
This was a surprisingly easy ticket.

[2020-05-08 17:10] rathboma commented on #77
@jimmy123j let me know on monday if everything is working on windows server and if so, I'll mark as complete and merge the change.

[2020-05-08 17:21] GeorgeNance opened #95 "Plugin Support"
I think having plugin support similar to vscode could make this very practical for many people.

Maybe even have the ability to change the theming.

[2020-05-08 17:40] GeorgeNance opened #96 "UI Suggestion: Clicking on a table and see its content."
Similar to how [sequel pro](https://sequelpro.com/) shows data when you click on a table.

<img width="1118" alt="image" src="https://user-images.githubusercontent.com/3322994/81432658-2a1ce200-9118-11ea-9776-86c2b6db40c7.png">

[2020-05-08 22:05] CaliLuke opened #97 "Athena Support"
Athena has a JDBC driver available.

https://docs.aws.amazon.com/athena/latest/ug/connect-with-jdbc.html

[2020-05-09 12:51] schliflo opened #101 "Website has wrong canonical tag"
Didn't know where to report this, but your website has an incorrect canonical tag:
[code]
This breaks native link sharing in mobile browsers (canonical link is shared instead of the one in the URL bar), as the domain there is not resolved any longer.
I suggest fixing the tag and adding a redirect from `beekeeper-studio.com` to `beekeeperstudio.io`

[2020-05-09 14:30] mbinette commented on #77
The link you provided worked for me as far as not needing to be installed. But a "portable" app, I believe, also should not be saving data to the user's home directory. On Windows this is Users\<username>\AppData\Roaming\beekeeper-studio. I think it should be storing all that data in a folder within the same directory as the portable exe. That allows it to be copied to a flashdrive for instance an

[2020-05-10 00:56] hillmanov commented on #69
It might be related to the capital in the table name: `Accounts`. Without surrounding the tablename in quotes, postgres will just convert it to all lower case, which will obviously throw this error. This may have been fixed by this PR: https://github.com/beekeeper-studio/beekeeper-studio/pull/82

[2020-05-10 06:33] thellimist opened #102 "Open new tab query is incorrect"
For postgres `Open new tab` fails. I have a table called `user` and I'm guessing the SQL fails to bring the results. It just shows a red "Error" in the UI.

The reason might be generated SQL is `SELECT * FROM tableName`, however, it should be `SELECT * FROM "tableName"` with the quotes.

Other tables work fine. I'm guessing it's because `user` is a reversed key and a table named the same would cre

[2020-05-10 16:13] ghstng commented on #101
rgr, thanks

[2020-05-10 18:04] #101 closed

[2020-05-11 13:17] jimmy123j commented on #77
It's work at my company server, Thanks sir !!

[2020-05-11 18:02] mlebrun opened #103 "Multiple connections open at the same time"
It would be great if you could connection to multiple databases at the same time! If it's already possible, feel free to close with steps on how! The client looks great, though! Excited to see this software mature more!

[2020-05-11 18:19] #14 closed

[2020-05-11 18:20] #59 closed

[2020-05-11 18:21] #77 closed

[2020-05-11 18:23] rathboma commented on #102
yep! I have a fix for this in Master, and it will be in a new release this week! See #82

[2020-05-11 18:23] #102 closed

[2020-05-11 18:25] rathboma commented on #96
Honestly I'm torn on what the default table-click behavior should be.

In many cases showing the schema is useful, but in other cases showing the contents is useful.

I'll play with both over the next few weeks and see where I end up :-)

[2020-05-11 18:25] rathboma commented on #96
Similar to #64

[2020-05-11 18:26] rathboma commented on #95
Theming coming soon! (well an additional theme, custom theme support down the line).

Do you have any specific plug-in ideas you'd be interested in?

[2020-05-11 18:29] rathboma commented on #66
Yeah would love to add this and [H2](https://www.h2database.com/html/main.html) also.

Need to figure out a good way to do this that doesn't suck (requires spinning up a JVM instance). These require the use of the Java driver

It's not on my immediate to-do, but I'll definitely figure this out. Also need to do it for a Sybase driver.

[2020-05-11 18:30] rathboma commented on #69
This is fixed in #82 . New release coming later this week, stay tuned!

[2020-05-11 18:30] #69 closed

[2020-05-11 18:33] rathboma commented on #103
Hey! No, currently this is not possible (it was a trade off for being able to launch).

I'm on the fence about whether to enable this in a single interface, or to just allow users to open a new window

[2020-05-11 18:35] rathboma commented on #67
Agreed, this would be useful.

I'm in favor of csv, json, and html to begin (no additional libs required).

This would actually be a great first issue for someone

[2020-05-11 18:36] rathboma commented on #65
:100:, it's on our todo for sure

[2020-05-11 18:38] rathboma commented on #64
I agree that we need to think more about accessibility of this feature.

I'm going to track this on #96 . Double click is terrible because it delays the single-click (which currently opens the column specs), but I'm not closing because I disagree with the sentiment.

[2020-05-11 18:38] #64 closed

[2020-05-11 18:38] rathboma commented on #63
💯 this would be useful too, agreed.

[2020-05-11 18:40] rathboma commented on #62
Oh, yeah totally. I think it just right now chooses that port by default. Definitely the ssh config should be more configurable.

As a workaround you can create a manual ssh tunnel and connect to that from beekeeper.

[2020-05-11 18:40] mlebrun commented on #103
Even a new window would be fine! I also saw https://github.com/beekeeper-studio/beekeeper-studio/issues/63 ([Enhancement] Pick color for each connection to quickly distinguish them) and each window could somehow incorporate this label color.

I think being able to open multiple connections and keep which is which accurate (to be able to compare stage/production values directly next to each other)

[2020-05-11 19:03] mbinette commented on #77
It's closed but not really a portable app at this point. Please see me previous comment about the location of the files.

[2020-05-11 19:46] rathboma commented on #77
@mbinette sorry I didn't see your comment. Lets open a new ticket for that, it's definitely a good point, but requires a bit more work than this one line fix to implement

[2020-05-11 19:47] rathboma opened #104 "Portable version should save data in the same dir as the exe"
From #77

Quote @mbinette

💯 will fix

[2020-05-11 20:14] colesam commented on #87
I'd like to try and take care of this issue this weekend unless someone wants to take care of it sooner.

[2020-05-11 20:36] danilopolani commented on #64
Yeah probably double click is a bad idea (to realize too), maybe we could invert the current behavior? Single click = open data, icon = toggle columns? Or simply open data and toggle columns together at single click, idk

[2020-05-11 21:08] rathboma commented on #64
Hah, yeah I'm not sure of the primary action yet either. I'll play with a few alternatives

[2020-05-11 21:16] rathboma commented on #61
@GuillaumeLegendre can you test the mac artifact attached to the PR and let me know if it fixes the issue?

Thanks!

[2020-05-11 21:18] rathboma commented on #61
They should appear here when the build is done -https://github.com/beekeeper-studio/beekeeper-studio/actions/runs/101867521

[2020-05-11 21:36] saberworks opened #106 "Scroll bars too small and disappear on mac"
In the results pane, I would like to be able to have scroll bars always shown.  This would indicate that the result pane data has overflowed and that one should scroll to see the rest.  As it is, I have no idea unless I move my mouse there and the scroll bars magically appear.

In addition, the scroll bars on my mac (Mojave) are really really skinny.  I think the vertical scroll bar only has one p

[2020-05-11 21:50] GeorgeNance commented on #95
I can imagine a few plugins:

- Coverting a mysql table to nosql.
- Ability to export in whatever format you need.
- Snippets
- Charts
- Schema suggestions
- Ability to create your own DB driver.
- Being able to sync settings/connections via dropbox/github gist
- Ability to import csv/excel

I'm sure some of these may already be planned features. But I have yet to see a db client that is "hackable

[2020-05-11 22:58] rathboma commented on #106
@ghstng thoughts about this?

[2020-05-11 23:43] ghstng commented on #106
Certainly makes a good point -- I am of the mind, if enough people have an issue with this, I will make changes. As it currently stands, however, I will always push back on things I think make the app less visually appealing. Or perhaps it could be a setting.

[2020-05-11 23:51] rathboma commented on #106
Fair. I do think in the result-pane the horizontal scrolling is a little hard -- as it's not bound to a mouse-wheel or a trackpad.

[2020-05-12 00:09] saberworks commented on #106
Thank you for the responses.  Please consider the fact that the mouse scroll wheel and trackpad can supplement the scroll bars but they can't replace them.  The use cases I have for scroll bars (in general, not just this app) is when there is a lot of scrolling to do, it's really easy to glance at the scroll bar and see "how much content" there is (size of the bar in relation to the scrollable are

[2020-05-12 01:45] rathboma commented on #106
Hey @saberworks, I understand your use case for sure. If we do make a change, it probably won't make it into this release. In the meantime, maybe some other folks will weigh in with opinions.

[2020-05-12 02:27] hxhlb commented on #51
me too. @ssuess

[2020-05-12 03:10] #34 closed

[2020-05-12 03:55] rathboma commented on #104
@mbinette Actuall this was easy. Fixed in #107

[2020-05-12 03:55] #104 closed

[2020-05-12 07:14] ignissak opened #108 "Launched application does not have icon"
**System:** elementaryOS Hera 5.1 (Ubuntu 18.04 LTS)
**App version:** 1.2.0
**Description:** When I launch Beekeeper Studio that I installed from Snap Store it will have an icon, but another application is launched and this one does not have the icon. The one with the icon after a few seconds vanishes from the dock.
![image](https://user-images.githubusercontent.com/25119437/81649622-e46e5b00-9430

[2020-05-12 12:37] GuillaumeLegendre commented on #61
@rathboma Sadly it doesn't seem to work either. If you need more testing don't hesitate. Thx a lot for your work.

[2020-05-12 13:29] rathboma commented on #61
Ok I've got another fix to try later, stand by!

[2020-05-12 19:34] rathboma commented on #61
Ok, I actually have a fix now #110

[2020-05-12 21:34] rathboma commented on #16
Looks like this will require moving our mssql implementation to tediusjs instead http://tediousjs.github.io/tedious/getting-started.html

[2020-05-12 21:39] #61 closed

[2020-05-12 21:56] rathboma commented on #108
That is interesting. I've been annoyed by this in the past by other apps, and I thought I'd gotten it right, grrr.

[2020-05-12 21:59] rathboma commented on #103
awesome feedback thanks! We'll definitely support this :-). Not sure when I'll get to implementing it though.

[2020-05-12 22:01] ransagy commented on #16
Quite possibly; I believe that is what is used for a vscode mssql extension i was using as well, So there's basis for that direction.

[2020-05-12 22:22] jordanlewis commented on #87
Looks like this got closed by #111. Thanks @rathboma and @rafiss!

[2020-05-12 22:22] #87 closed

[2020-05-12 22:57] ghstng commented on #106
Made scrollbar always visible with a slight increase in size. Ultimately, I think  a non-native scrollbar solution can find a better balance between being usable and not cluttering the app. Will put it on the list.

[2020-05-12 22:57] #106 closed

[2020-05-13 05:55] abhimanyu003 opened #112 "JSON Column is getting displayed as [Object Object]"
Hello, this is really great work. :heart:

In PostgreSQL JSON column is getting displayed as `[object Object]`
In other software like `datagrip` they display full parsed JSON.

Here is a screenshot, is possible to add something like this.
![image](https://user-images.githubusercontent.com/265913/81776169-fbce4680-950b-11ea-9d57-54df408e7a86.png)

**How it's displayed in datagrip.**

![image](https

[2020-05-13 06:04] Dragory opened #113 "UI Suggestion: Close tabs via middle mouse click"
This is the behaviour in e.g. all browsers and many editors such as VS Code (at least on Windows). I can look into submitting a PR for it as well.

[2020-05-13 08:48] GuillaumeLegendre commented on #61
Yes it works 👍 🥇 Thank you

[2020-05-13 10:21] gnovaro opened #114 "MySQL 8 connection error, can't pass login auth"
![mysql8_auth_error](https://user-images.githubusercontent.com/270990/81801191-5370b000-9514-11ea-9ed6-1e81b0e21f7c.png)

New version use sha-256

[2020-05-13 13:03] rathboma commented on #52
This is done! See release v1.3.0 💪

[2020-05-13 13:03] #52 closed

[2020-05-13 13:03] rathboma commented on #57
This is fixed, see release 1.3 💪

[2020-05-13 13:04] #57 closed

[2020-05-13 13:32] dufferzafar commented on #51
For me, the error is `(SSH) Channel open failure: Connection refused` while I'm able to connect using DBeaver just fine.

[2020-05-13 13:38] ifokeev commented on #52
@rathboma thank you. It works

[2020-05-13 13:48] rathboma commented on #114
try version 1.3! I just released it and it should fix the error

[2020-05-13 13:54] rathboma commented on #112
see release 1.3! This should be fixed

[2020-05-13 13:54] #112 closed

[2020-05-13 14:18] carstenh commented on #91
Thx! Now I can see hidden folders

[2020-05-13 14:18] #91 closed

[2020-05-13 14:35] simonrob commented on #108
I have the opposite problem with the macOS version (1.3.0): there is no icon for the app in the applications folder, but there is one in the Dock when Beekeeper Studio is opened.

[2020-05-13 14:58] rathboma commented on #108
lol, oh my.

Was the icon present with version 1.2? Trying to figure out if I broke something with Electron-builder.

[2020-05-13 15:01] rathboma commented on #51
My next milestone is to revamp the SSH and SSL libraries. Sorry this isn't working right :-(

[2020-05-13 15:14] simonrob commented on #108
I didn't use Beekeeper Studio until the current release, but have just downloaded a few previous releases including 1.2 and there is no icon for the app in the disk images for any of them.

It could be just me experiencing this I suppose, but all my other applications have proper icons so I think that's probably unlikely. Let me know if you need any more information to help locate the cause.

[2020-05-13 16:05] hlidotbe commented on #24
Hi, same issue here, my SSH keys are in a yubikey and so I can't even choose a file as it's exposed through the agent.

[2020-05-13 21:06] rathboma commented on #24
@hlidotbe what platform are you on?

[2020-05-13 21:21] gnovaro commented on #114
Now works! you can close this issue

[2020-05-13 21:21] #114 closed

[2020-05-13 21:25] gnovaro commented on #23
This problem is already solved.

[2020-05-13 21:46] hlidotbe commented on #24
Sorry, Linux (ubuntu). There are other issues I'll try to report ASAP.
--
Hugues Lismonde

[2020-05-14 01:35] rathboma commented on #90
I'm not sure that the app should be so opinionated as to modify a user's query before running it. I feel like that sets a bad precedent on what you can trust the tool to do.

While I understand that you might do this by accident (oops, 1mm rows incoming), I think the better solution is to truncate the output as it is streamed from the client (which I do plan to do).

Going to close this issue.

[2020-05-14 01:35] #90 closed

[2020-05-14 01:42] #40 closed

[2020-05-14 09:08] k3rni commented on #57
installed 1.3 with `snap refresh --edge`, fixed!

[2020-05-14 09:24] k3rni opened #115 "scroll offsets not remembered in tabs"
Scenario:
1. connect, navigate to a table in the left pane, open it in a new tab.
2. scroll down and/or right a bit. take note which row is shown on top.
3. focus another tab, e.g. the default Query tab
4. return to that table's tab

Expected:
the tab shows data just as I left it: same page in paginator, same row shown on top, same horizontal and vertical scroll offset

Actual:
page number preserv

[2020-05-14 12:19] codeoholic opened #116 "v1.3.0 doesn't allows copy paste."
Post 1.3.0 update from 1.2, I am unable to copy/paste text from/to the application.

Running v1.3.0 of beekeeper on macOS 10.15.4.

[2020-05-14 15:21] gnovaro opened #118 "enhancement: Foreign Key relation with a link like PhpMyAdmin"
Is a nice to have. When a click in a relational link open the another table data view.

[2020-05-14 15:37] gnovaro opened #119 "INSERT or UPDATE affected rows."
![imagen](https://user-images.githubusercontent.com/270990/81954583-51d4e400-9609-11ea-9ffe-8de860e4b5d4.png)

I think this message is not correct. SQL drivers provide fuctions to get affected rows but is not the same apply a SELECT...

[2020-05-14 15:39] #119 closed

[2020-05-14 15:42] gnovaro commented on #90
SQLyog add a LIMIT check and default for 1000 results. By default is checked. Is a good option.

[2020-05-14 15:49] k3rni commented on #108
confirming with 1.3 on Manjaro
![image](https://user-images.githubusercontent.com/200996/81956140-3f5baa00-960b-11ea-8956-338e6dc55f05.png)

[2020-05-14 19:28] rathboma commented on #24
Ok, I guess you're using the version from the ubuntu store?
Matthew Rathbone
==
matthew.rathbone@gmail.com

On Wed, May 13, 2020 at 4:46 PM Hugues Lismonde <notifications@github.com>
wrote:

[2020-05-14 19:28] rathboma commented on #108
jeez. Is this new since 1.3? Or did 1.2 have this problem too?

[2020-05-14 20:06] rathboma commented on #108
This is because of a mismatch in the `StartupWMClass` in the .desktop file. I'm not sure why it is mismatched, but I'm investigating.

[2020-05-14 20:28] hlidotbe commented on #24
No I use the appimage from GitHub's releases

[2020-05-14 21:10] #42 closed

[2020-05-14 21:16] rathboma commented on #108
@ignissak @k3rni  can you download the linux assets from https://github.com/beekeeper-studio/beekeeper-studio/actions/runs/105067091 (once the build is done) and see if it fixes the missing icon?

[2020-05-14 21:58] rathboma commented on #118
Yes for sure! I particularly like the way Postico does it

[2020-05-14 21:59] rathboma commented on #116
Huh. I've never heard of that. Nothing to do with Mac packaging was changed that I know of. Let me test on my macbook and I'll let you know what I find.

[2020-05-14 22:00] rathboma commented on #115
Yeah I think this is the table library we're using resetting it's scroll when hidden. Good find. I'll poke around.

[2020-05-14 22:03] rathboma commented on #113
yeeees. Good idea.

[2020-05-14 22:04] rathboma commented on #113
should be as easy as adding a `@click.middle` to `CoreTabHeader.vue` if someone wants an easy contribution

[2020-05-14 23:57] ignissak commented on #108
It is fixed.

[2020-05-15 01:15] #108 closed

[2020-05-15 04:15] jonorossi commented on #116
I too can confirm I cannot copy anything in/out on macOS. First time using Beekeeper Studio though.

[2020-05-15 12:39] rathboma commented on #116
bah, I know exactly what is wrong. Fixing today

[2020-05-15 12:57] rathboma commented on #116
@codeoholic @jonorossi can you download the mac build from here https://github.com/beekeeper-studio/beekeeper-studio/actions/runs/105684335

and check:
1. If the issue is fixed
2. That you can still close tabs with cmd+w

[2020-05-15 12:58] rathboma commented on #116
Once you verify it, I'll merge, close the issue, and do a point release today

[2020-05-15 13:52] jonorossi opened #122 "Cannot remove saved connection"
I've got 2 saved connections, when I click "Remove" on the first one it does nothing. Restarting the app doesn't change anything. Both saved connections have the same name.

OS: macOS with your CI build from #116

[2020-05-15 13:53] jonorossi commented on #116
1. yes
2. yes

[2020-05-15 13:54] jonorossi commented on #122
"Rename" also doesn't do anything.

[2020-05-15 13:59] snoozan commented on #116
Hi! Also confirmed your fix works. I can copy paste :)

[2020-05-15 14:11] #116 closed

[2020-05-15 14:13] rathboma commented on #122
Ah, yes, you cannot remove right now (def an oversight). You can rename, if you click on it, then rename it at the bottom and click save again

[2020-05-15 14:14] rathboma commented on #116
build 1.3.1 being pushed out now to fix this for everyone

[2020-05-15 14:41] jonorossi commented on #122
Oh, thanks. If I click on the ellipsis to get the Remove/Rename menu it selects the item and brings up the connection details on the right, so rename doesn't appear to do anything since it is already showing. Maybe for a saved connection the UI show should the name at the top or something, anyway something to think about because the UI is not intuitive.

[2020-05-15 16:38] rathboma commented on #89
If someone wants to test https://github.com/beekeeper-studio/beekeeper-studio/pull/109 that'd be great. I don't have a db set up with a real certificate yet.

[2020-05-15 17:20] Gys commented on #89
Sorry, did not work, I get 'Connection lost: The server closed the connection.' after about 10 seconds.

I tried this (MacOS) for https://github.com/beekeeper-studio/beekeeper-studio/pull/109/checks?check_run_id=667232724

Exactly the same settings work in TablePlus.

[2020-05-15 17:35] rathboma commented on #89
Thanks for testing! I'll do some work on this and spin up my own digital ocean instance

[2020-05-15 17:59] nicolaslabbe opened #124 "feature: connection setting to have Beekeeper prompt you when doing update/insert (for production dbs)"
First your product is amazing!
smooth, fast, intuitive to use.

Usually I use postico for postgresql and I think your product is much more efficient.

I can't use it on right now because of some small reason.

**I would use it if:**
- Just like postico It would be nice to have different colours between environment tab. (change the whole application in red if I am in production, allow me to change

[2020-05-15 18:17] CptMonac opened #125 "Views not returned in 'tables & views' list"
In the newest Beekeeper update that includes multiple-schema support, views belonging to the non-public schema do not show up in the list.

Example screenshot with relevant query included below. In the screenshot, the query returns views 'codaexport', and 'daylioexport' that are not visible in the table list
![image](https://user-images.githubusercontent.com/1922661/82082799-78dcf580-969d-11ea-8d7

[2020-05-16 03:28] rathboma commented on #51
Can you all test this build? https://github.com/beekeeper-studio/beekeeper-studio/actions/runs/106301681

You should be able to download the assets for your OS and install as usual

[2020-05-16 03:49] rathboma commented on #24
Can you test https://github.com/beekeeper-studio/beekeeper-studio/actions/runs/106308642 (when the build is done?)

It should be able to use your SSH agent.

[2020-05-16 03:50] rathboma commented on #49
Can you test two things?
Build: https://github.com/beekeeper-studio/beekeeper-studio/actions/runs/106308642

1. Test with your PEK private key
2. Test running pageant - the ssh agent that comes with putty. It should 'just work' once you add your keys to it.

[2020-05-16 05:30] ssuess commented on #51
This build seems to fix my connection and db listing problems. Thanks!

[2020-05-16 07:02] codeoholic opened #126 "Table view not updating post schema change."
If a table view is open and there are some schema change on the table, the view does not reflect the changes on refresh. The table has to be reopened in order to view the changes.

Beekeeper v1.3.1
macOS v10.15.4

[2020-05-16 08:11] cbluth opened #127 "Please allow adjusting of font size"
Please allow adjusting of font size
I have some minor eyesight issues, and it would be nice to make the text bigger.

[2020-05-16 12:08] rathboma commented on #126
Yes we can probably do something about that :-)

[2020-05-16 12:10] rathboma commented on #125
Oh, you're right! This should be an easy fix. I'll do it this weekend

[2020-05-16 12:20] rathboma commented on #124
Aw, thanks for the kind words :-)

Def the colors thing is on the radar. Same with some sanity around production awareness

We've definitely thought about team features. If the project continues to be popular that type of service might be possible :+)

[2020-05-16 15:29] shootnix opened #128 "Add "abort query" button and hot keys combination"
Hi,
I'm not sure this feature exists already so I decided to create a feature request.
Sometimes you may write query like "update users set balance=1000000 where is_active" and then just forget to specify, for example, id or something like this. So this query adds  1000000 money to all users and sometimes (haha) this is not what you want to gonna happen.
In this kind of situation I always using "C

[2020-05-16 23:58] rathboma commented on #127
Agreed. This is on the docket

[2020-05-17 04:43] codeoholic opened #129 "Keyboard shortcut: comment line"
It would be nice if we could use cmd + / to comment queries.

[2020-05-17 06:12] chrisdlangton commented on #51
Using MySQL getting;

[code]
Works flawlessly without SSH tunnel. Also I can SSH fine outside beekeeper (including mysql-workbench)

[2020-05-17 20:40] hlidotbe commented on #24
Just tried and I get an error when trying to connect. I've checked and the SSH_AUTH_SOCK env is correctly set and the agent is running

[2020-05-17 21:52] rathboma commented on #51
What platform, key type are you using?

Eg windows, pem

[2020-05-18 01:13] rathboma commented on #24
Ok let me try a couple of things and I'll get back to you on this ticket

[2020-05-18 03:12] chrisdlangton commented on #51
considering pem (a public key format) is never going to work... I am using a private key generated via defaults of `ssh-keygen` RSA2048SHA256

Ubuntu 20.04 `uname -a`;
[code]
Installed clean from [instructions](https://docs.beekeeperstudio.io/installation/#linux-installation) after the issue #40 I raised with snap and you closed as being due to a snap restriction and i solved it by not using snap,

[2020-05-18 08:21] vincent opened #130 "Sql Server: "Invalid object name" when loading a table not under [dbo] schema"
Hi,
First: nice project, thank you.

I'm using the Sql Server connector.
When I open from the sidebar a table that is not under the dbo schema, it shows "Errors" in the result area, and "Invalid object name" in the the console.

It seems to work fine when I open a table under the dbo schema, so I guess we're just missing the schema somewhere.

<img width="834" alt="Capture d’écran 2020-05-18 à 1

[2020-05-18 14:13] mlebrun commented on #63
Almost have a pull request for this

[2020-05-18 18:45] rathboma commented on #51
Hey @chrisdlangton,

So sorry you're frustrated with the app :-(.

Beekeeper Studio is definitely early -- we only announce it on April 20th. SSH tunneling is something we adapted from an earlier library, and yes it is the most broken part of the product right now. I have some servers that I use for testing SSH, but not all combos of dbs and configs are covered. It's a bit of a cat and mouse game.

[2020-05-18 23:47] chrisdlangton commented on #51
@rathboma
Didn't mean the critical feedback to appear as frustration, text is.. not the best.

To give the project benefit of doubt the key pair was generated fresh, and the public key was added to authorized_keys of a digital ocean docker droplet. My production use case is EC2 Amazon Linux 2 (centos) as a temporary/breakglass bastion to access RDS/Aurora.

I tried various databases so versions, b

[2020-05-19 14:19] rathboma commented on #130
Bah, you're right, sorry about that, I'm not passing through the schema. Should be an easy fix.

[2020-05-19 16:40] JamesDBartlett commented on #48
This missing feature is the only barrier keeping me from using Beekeeper Studio as my go-to app for dashing off quick, ad-hoc queries (an activity I perform several times per day on average). I have a bit of background in Node & React, so if you know there's a simple solution, but just haven't had the time to implement it, let me know, and I might take a crack at it.

[2020-05-19 16:42] rathboma commented on #48
I'm not very experienced in using Windows integrated login for SQL Server.

How does this work in other apps? Does it just get the credentials from the OS, or do you have to enter user/domain/password in the app?

[2020-05-19 16:54] JamesDBartlett commented on #48
I'm not very familiar with all the inner workings, but as an example, [Azure Data Studio](https://docs.microsoft.com/en-us/sql/azure-data-studio) (a variant of VS Code, designed specifically for working with MSSQL servers) connects to the target database by hostname (resolved by the domain controller, most likely) and instance name. It transparently passes the logged-in Windows domain account to t

[2020-05-19 19:14] #125 closed

[2020-05-19 19:14] #130 closed

[2020-05-19 19:55] rathboma commented on #48
Can you folks test #134 and see if you set `domain`, but leave the password blank it allows you to log-in to your SQL Server instance?

[2020-05-19 20:01] rathboma commented on #48
should be able to get a windows download from - https://github.com/beekeeper-studio/beekeeper-studio/actions/runs/109655006

[2020-05-19 21:12] JamesDBartlett commented on #48
@rathboma I get the following error message when I try to log in without a password:

However, when I enter my password, the connection is successful, so it's _almost_ working.

[2020-05-19 21:28] rathboma commented on #48
@JamesDBartlett Ok, so it IS doing windows integrated log-in now, but it is not passing through your credentials.

I'm not sure exactly why. At least this version is usable, even if not ideal.

My gut is that there's something in the main `process.env` it needs that it doesn't have available in the renderer environment.

[2020-05-19 22:12] hjone72 opened #135 "Slow data load times with fairly wide datasets"
Testing out the software because it looks really nice! I've found that it is very slow to open larger databases and quite slow to execute and render queries.

1200+ tables took over a minute to load
7879 results took around 7 seconds, compared with azure data studio which took less than 3.

Not sure if this can be resolved :) Really nice work so far!

[2020-05-19 23:08] andrewgalbraith commented on #48
Tested the latest build and when populating the pertinent fields; username, password and domain with SSL enabled, it tested successfully and connected without issue. It also ran a SELECT statement successfully after that, so I’ll give it some more time tomorrow when I’m back in the office. Definitely excited to try some more. Thank you!!
________________________________
From: Matthew Rathbone <not

[2020-05-20 02:38] rathboma commented on #24
Ok, I've verified the SSH Agent pass-through is working on this build - https://github.com/beekeeper-studio/beekeeper-studio/actions/runs/109728576 (unless you are using Snap).

If you want to try one more time, I'm confident it should work

[2020-05-20 02:45] rathboma commented on #51
Ok, so just to be clear, looks like your set-up is:

1. SSH tunnel to a droplet in digital ocean
2. Accessing MySQL 5.7 running on the digital ocean droplet, accessing with the docker IP and port 3306

### Quick Question:
You're using `expose` for the port. Can you double check that you can connect to the container using the `mysql` command line on your droplet?

I'd thought `expose` [only exposes

[2020-05-20 06:28] chrisdlangton commented on #51
Yes, happy to explain what `expose` does.
I had commented earlier that everything is working fine outside beekeeper, that includes the usual commands typed out as well as mysql workbench ssh tunnel connection (i'm looking at beekeeper studio because workbench is terribly buggy).

The `expose` directive is simply telling docker to allow communication on port 3306 from another container in the same

[2020-05-20 12:18] rathboma commented on #51
Thanks, I'll text this today

[2020-05-20 12:54] isgj opened #136 "Can't use Group as table name"
I have a table with the name `Group`. When I click the icon to open the table in a new tab I get
![image](https://user-images.githubusercontent.com/20517048/82447293-605b4980-9aa8-11ea-9aca-2c7d0e1593de.png)

if I run the query
[code]
the error is
![image](https://user-images.githubusercontent.com/20517048/82447689-e7a8bd00-9aa8-11ea-9d35-6012647a3d96.png)

If I use the backticks around the table

[2020-05-20 13:04] jboarman commented on #12
This can make a big difference in community adoption!

[2020-05-20 13:58] rathboma commented on #12
If anyone wants to contribute and knows nuget, this is a good ticket!

[2020-05-20 20:39] rathboma commented on #136
Ah, yes when opening tables it should escape the table names in the select query. Sorry about that.

[2020-05-20 21:20] rathboma commented on #135
Oh, these can definitely be resolved :-)

The table loading should be much faster, but there was a bug in the SSH tunnel that prevented multiple connections. Hopefully will be fixing that soon.

Question on the results
-- This was SQL Server?
-- Presumably this was a custom SQL query?
-- how wide is your result set?

[2020-05-20 23:38] hjone72 commented on #135
Thanks for the reply. Looking forward to trying to bug fixed version :)

Yeah it is an MS SQL Server.
It was a pretty basic SQL query haha.
[code]
Only about 8000 rows and 20 columns. It's not tiny, but far from massive. I'm using Azure Data Studio for comparisons and it handles the query in about 3 seconds.

Cheers,

[2020-05-21 02:29] rathboma commented on #51
This is working in my latest build. I used the same docker-compose config as you, sshing onto a GCP box and then connecting to mysql on `172.x.x.x`. \0/.

I have a few things to tidy up but my goal is to push out a new release this week with the fixes.

[2020-05-21 03:36] chrisdlangton commented on #51
@rathboma amazing!
I'll do some testing when merged and deb built.
If you could tag the commit here when it is merged, I can debug anything i find in testing and maybe PR for you if i find anything, i noticed the other day it is mostly javascript so I should be trying to be directly useful on this project considering i know that language almost as well as i know English..

[2020-05-21 16:35] marufmax opened #137 "AppImage download link is wrong"
This is an issue with website not with the actual project.
If I navigate to this [https://www.beekeeperstudio.io/download/?platform=appimage](https://www.beekeeperstudio.io/download/?platform=appimage) from homepage, I am prompting downloading an `exe` file.

Which is wrong, I should download `appimage` file.

I made it download by visiting GitHub's release section

thanks

[2020-05-21 20:17] kryptonianson commented on #48
So far this looks like it did the trick for me. Thank you!

[2020-05-21 22:04] JamesDBartlett commented on #48
@rathboma This is usable enough for now. Can we expect #134 to be merged any time soon?

[2020-05-21 22:38] rathboma commented on #48
I'm looking to merge it this weekend (along with a large ssh fix) and have a new release out ~monday!

Thanks all for testing the build!

[2020-05-22 13:52] ellisgl opened #138 "Default data browse tab on table click."
When I click on table, I would like to have a tab that is populated below the query box, that would allow me to browse the date in the table. See SQLYog's UI.

[2020-05-22 15:13] gnovaro commented on #60
I see in some gif column size in sidebar, for example: title varchar**(255)** is really useful, maybe in a minor release can include this?

[2020-05-22 18:03] MarcusMann commented on #137
it happens here too.

[2020-05-22 18:11] #51 closed

[2020-05-22 18:13] rathboma commented on #135
I'll be pushing out a new version soon, that should improve the table loading speed significantly. The 20 column query results will take a little more work, but will definitely get to it :-)

[2020-05-22 18:14] rathboma commented on #137
lol, typo. Sorry about that. Will fix presently

[2020-05-22 18:17] #137 closed

[2020-05-22 23:23] lorenzoganni opened #139 "SQL Server 2005 - no tables found"
I'm trying to open a SQL Server 2005 database.
Connection and database listing is fine, but after a few seconds "finding tables" no tables are shown (_There are no tables in *TABLENAME*_).
Other db management apps correctly list all the 100+ tables.

Not sure if Beekeper is meant to be compatible with a 2005 db.

[2020-05-23 02:14] rathboma commented on #139
Hmm,

The driver I'm using DOES support all the way back to SQL Server 2000, but can't say I have an instance of SQL Server 2005 to test against.

The query I'm using to get table names is

[code]
And to get columns:

[code]

Can you check if these work on 2005? If not we can figure out the right syntax

[2020-05-23 02:16] rathboma commented on #138
Right now, if you click the little 'open' button next to the table name it open in a new tab.

Is that what you mean? Or is it the positioning below the query box that is important?

[2020-05-23 02:18] rathboma commented on #135
V1.4 is out -- should improve table load times quite significantly

In terms of slow time to load the table. I suspect it's rendering the dataset (not the actual fetching of the data) that is causing the slow down. I'll look into how this could be improved -- I suspect lots of wide columns cause the table library some pain

[2020-05-23 02:21] rathboma commented on #136
This should be fixed in Release 1.4

[2020-05-23 02:22] rathboma commented on #48
Merged and released in 1.4

[2020-05-23 02:22] #48 closed

[2020-05-23 02:22] rathboma commented on #44
released in 1.4

[2020-05-23 02:22] #44 closed

[2020-05-23 02:23] rathboma commented on #30
@lordrak007 can you try version 1.4?

[2020-05-23 02:23] rathboma commented on #24
Fixed in 1.4

[2020-05-23 02:23] #24 closed

[2020-05-23 02:23] #23 closed

[2020-05-23 02:24] rathboma commented on #49
fixed in 1.4

[2020-05-23 02:24] #49 closed

[2020-05-23 02:26] rathboma commented on #55
I think this is a limitation with the Snap version of Beekeeper. I bet if you tried the AppImage it would work. I've had lots of issues with the Snap version -- lots of security walls

[2020-05-23 02:26] rathboma commented on #54
@zaifastafa is this fixed in 1.4?

[2020-05-23 02:26] rathboma commented on #56
solved in 1.4

[2020-05-23 02:26] #56 closed

[2020-05-23 02:26] rathboma commented on #56
(not the ctrl+enter bit)

[2020-05-23 02:30] zaifastafa commented on #54
Hi @rathboma I haven't checked yet, I will update here once I do. Thanks

[2020-05-23 02:50] lorenzoganni commented on #139
Tried both queries, they fail.
Turns out the database has a case-sensitive collation.

The following queries are fine with SQL Server 2005:
[code]
and
[code]

[2020-05-23 02:52] rathboma commented on #139
Interesting, I'm not that familiar with the variation in sql servers but do you think that would cause problems in newer versions if I capitalized those table names?

[2020-05-23 02:57] lorenzoganni commented on #139
Unfortunately, I'm not familiar with that too... from a little search it doesn't seem to matter wheter it's uppercase or lowercase in newer versions, but can't tell for sure.
I do not have newer SQL Server instances to test them against.

[2020-05-23 05:15] manngo opened #140 "Beekeeper 1.4 Can’t be opened in MacOS"
I have tried the usual right-click open method, and my security settings allow non-appstore applications.

Currently running MacOS Catalina 10.15.4. Previous version of Beekeeper worked well.

[2020-05-23 06:40] manngo commented on #140
Maybe it’s just the ZIP version on the GitHub page. The DMG version on the main site is opening properly.

[2020-05-23 06:42] manngo opened #141 "Not getting any results from SELECT query when switching databases in the query itself"
The following query on my database:

[code]

gets me no results. I don’t think it is running the second query.

The table appears in the list of Tables & Views, and the connection appears to be successful.

Beekeeper 1.4.0. Currently running MacOS Catalina 10.15.4.

[2020-05-23 09:24] MrGKanev commented on #32
Small update: Updated to version 1.4.0 The problem still occurs. (gave the snap SSH access)

[2020-05-23 11:50] bitwisecook opened #142 "enhancement: Autocomplete from Foregin Key relations"
When creating a query the foreign key relations on the tables can be used to inform autocomplete of possible JOINs, eg

[code]

in particular `on b.a=a.foo` can be inferred from the foreign key relations.

This can be a very good time-save, and help exploring data.

[2020-05-23 20:43] rathboma commented on #140
Yeah only the dmg is signed, sorry for the confusion!

[2020-05-23 20:44] rathboma commented on #141
There should be a 'results 1/2' drop-down in the bottom right? Also- try just switching databases with the drop down in the top left?

[2020-05-23 20:45] rathboma commented on #141
*bottom left.

Might be that you need to switch dbs in the ui. I'll do some tests.

[2020-05-23 20:45] rathboma commented on #139
Ok thanks! I'll do some tests and figure it out.

[2020-05-23 20:47] rathboma commented on #142
💯. Agreed. I'm a little limited by the mirror SQL hint add in right now, hopefully will be able to rewrite this in future and make it more sophisticated.

[2020-05-24 01:11] reeceahar opened #143 "Show Triggers, Stored Procedures, and Functions"
I notice that HeidiSQL has a very neat way of allowing you to quickly add Triggers, Stored Procedures and Functions, it would be great to see this feature. It's listed amongst the tables when you select a Schema but when you open it there is a specific design to make it easier to add them.

[2020-05-24 08:31] manngo commented on #44
For anyone watching this, there’s a new popup in the status bar which lets you choose between results sets.

[2020-05-24 08:32] manngo commented on #140
Ah, that explains it. Thanks

[2020-05-24 11:45] menjilx opened #145 "SQL Auto Complete isn't working"
Hi,
Anyone encountered the same issue as what I've encountered? I tried to run some basic SQL but the editor won't show or recommend any "auto-complete" SQL syntax.

Am I missing something here?

Thanks!

[2020-05-24 17:12] lordrak007 commented on #30
Hello,
thanks for AD integration. But it not working yet.
When i enter all parameters and did test its say "Connection looks good", then i have clicked save. When i tried press Test button again (or connect) i am getting theese errors:
Error establishing connection
The "config.options.database" property must be of type string.
Failed to connect to cewsql402:1433 - Cannot call write after a stream

[2020-05-24 18:32] #139 closed

[2020-05-24 23:58] manngo commented on #141
I missed that drop down with the result sets. Thanks.
This leads on to a separate feature request which I will post.

[2020-05-25 00:09] manngo opened #146 "Feature Request: Consolidate non-resultset messages"
I want to write scripts which involve multiple steps. Each step, of course, produces a message. However, each message then appears in the GUI as a separate result set.

Here is a trivial example:

[code]

Only the last statement produces a genuine result set, while the previous statements only produces status messages.

Would it be possible to combine all the non-resultset messages into a single r

[2020-05-25 00:12] manngo opened #147 "Feature Request: Auto-indent Behaviour"
(Unless I’ve missed a setting somewhere).

I’m not personally a fan of two-space indentation, but I know that some other are. Personally I prefer a single-tab indentation.

Is it possible to include a setting for this?

[2020-05-25 02:19] rathboma commented on #146
Hey! Yeah I want to do this for sure. This was in the initial implementation, but was left out due to time constraints.

[2020-05-25 02:21] rathboma commented on #145
@menjilx What database are you using?

Try pressing ctrl+space (or cmd+space) to force the auto-complete suggestions to appear.

It should automatically pop up when typing `from `, and `table.`, or `alias.`

[2020-05-25 02:21] rathboma commented on #147
:100: Yes we sorely need a settings screen.Coming soon! :tm:

[2020-05-25 02:29] rathboma commented on #143
Yeah we're planning on having a section underneath (tables and views) with this information

[2020-05-25 05:29] codeoholic opened #149 "Double click on saved connection to connect directly."

[2020-05-25 07:03] ankurs24 opened #150 "Redshift Connection throwing Error"
When trying to connect to Redshift database, I get an error:
**"column el.typarray does not exist"** and the connection does not succeed.

Same error happens when trying to connecting using Potgres connector. I suspect it's gotta do with some version issue of Postgres.

https://github.com/dbcli/pgcli/issues/316

[2020-05-25 07:16] k3rni commented on #55
You are correct, it does work indeed in the AppImage version. I think we can close this, maybe with a couple lines in the docs about the snap version being more restricted.

[2020-05-25 20:08] rathboma commented on #150
Ok, I'll take a look. I may have introduced this error myself :-S

[2020-05-25 20:29] #140 closed

[2020-05-25 20:29] #141 closed

[2020-05-26 00:07] BordaLorde opened #151 "Feature Request: Add row conter to interface"
I think it would be nice to know how many rows a table has without running a separate query.
My suggestion is to put it at the bottom of the window next to the pagination buttons.

[2020-05-26 03:11] manngo commented on #147
@rathboma Thanks. I would be happy with a JSON file or something.

BTW I really appreciate the work you’ve put into this project. What the world needs is a good multi-DB cross platform NON-Java SQL client, and I’m thankful that you have taken this one on.

[2020-05-26 03:26] rathboma commented on #147
Thanks! We're excited so many folks seem to like it so far!

[2020-05-26 09:42] therustybear commented on #83
you just need to auth a credit card onto a google account and the first x (lots) of credits are free. Plenty to test GBQ

[2020-05-26 14:30] rathboma commented on #83
I have a GCP trial account. I don't have time to dedicate to this right now, but when I do, my primary concern is on-going support for the platform. As we add new features to the app we'll want to test them against BigQuery. I'll also want to integrate BigQuery into my (upcoming) integration test suite.

So I'd need a more permanent way to test it :-)

[2020-05-26 14:32] rathboma commented on #151
agreed! We actually don't control that footer (tabulator controls it). So this does require implementing our own footer and having tabulator 'insert' the pagination buttons using their [control element](http://tabulator.info/docs/4.0/page#element) api

[2020-05-26 20:05] joeschmid commented on #150
In case it helps, I'm getting the same error when connecting to Redshift.

[2020-05-27 02:04] AqilCont commented on #80
I agree with the above comment. Redis is extremely useful to me, while being extremely popular on top of it and would be a game-changer for this app's usability.

[2020-05-27 02:19] manngo opened #152 "Feature Request: Run only selected statement(s)"
Is it possible to have either an option or an alternative keyboard short cut to run only the current statement (under the cursor) or the hightlighted statements?

[2020-05-27 02:55] rathboma commented on #80
@victorhahn the [object object] output is fixed.

I'll need to think on the redis support. Hadn't initially thought of doing that yet, but I can see the value in supporting all the different datastores for sure

[2020-05-27 02:57] rathboma commented on #152
Currently it is not a feature, but yes agreed that would be very useful!

[2020-05-27 02:57] rathboma commented on #149
That works!

[2020-05-27 02:57] #149 closed

[2020-05-27 03:07] jiahuanle opened #153 "Pagination doesn't work"
Scenario:

1. connect, navigate to a table in the left pane, open it in a new tab.
2. click  Next or Last button

Expected:
show next data or last data

Actual:
always show first page

[2020-05-27 09:10] alexanderadam opened #154 "add package to official Debian/Ubuntu sources"
Are there any efforts to add beekeeper-studio to official Debian/Ubuntu packages?
Did you [submit your packages for inclusion](https://packaging.ubuntu.com/html/packaging-new-software.html#submitting-for-inclusion)?

Is there any issue or thread that I could subscribe to get some updates about that?

[2020-05-27 15:45] kamranjon opened #155 "EXPLAIN ANALYZE not returning any results"
Appending `EXPLAIN ANALYZE` before queries is a common way to investigate performance issues with your SQL queries in Postgres. For example:
[code]

When performing the operation it with beekeeper studios it shows now results:
![image](https://user-images.githubusercontent.com/3966239/83041971-ef5ee900-9ff5-11ea-8029-f47adc7efe63.png)

Here is an example output from another SQL client (SqlElectron

[2020-05-27 15:48] rathboma commented on #154
I have not yet opened a request to do that. I'm not sure how useful this is given that we already provide both a Snap and a deb repo?

Is there a benefit to be in the official repos?

[2020-05-27 17:05] JamesDBartlett commented on #48
@rathboma Thanks for the update! I'm now happily using Beekeeper Studio as my go-to editor for ad-hoc queries.

[2020-05-27 17:14] rathboma commented on #153
What database and version are you running against? On what platform?

[2020-05-27 19:00] alexanderadam commented on #154
1. "Easier" installation for those users who are not so familiar with external sources
2. General visibility because users can simply search install with their standard package manager
3. Also trust: some users have more trust in reviewed packages from their distributions than external repositories
4. Compatibility (not an issue for Snap of course): users don't have to fear that a dependency from

[2020-05-27 22:01] #58 closed

[2020-05-27 22:01] #153 closed

[2020-05-27 22:28] rathboma commented on #155
Thanks! Agreed this makes sense.

[2020-05-27 22:50] #155 closed

[2020-05-28 09:02] sundowndev opened #157 "Can't expand views after collapsing"
After clicking on "expand all" then "collapse all", the views won't expand anymore, even when refreshing, I have to disconnect and reconnect to make it work again.

![image](https://user-images.githubusercontent.com/16480203/83121293-679adc80-a0d2-11ea-906f-6c6146b24d7a.png)

Env: Linux Ubuntu 18.04 LTS
DB: Postgresql through SSH tunnel

[2020-05-28 10:55] menjilx commented on #145
Typing "Select" or "Update" won't auto-complete but after typing the complete keyword like "Select" the autocomplete works fine already.

[2020-05-28 14:20] rathboma commented on #157
Oh my gosh you're right, yes. Clearly I didn't test that with schemas.

Thanks for identifying!

[2020-05-28 15:00] sundowndev commented on #145
It works great for me with PostgreSQL 9.6, so far I only tested tables and fields with aliases

[2020-05-28 15:15] sundowndev commented on #124
I agree about features but I'd not pay an enterprise version, I'd donate to support the development.

[2020-05-28 15:38] farnas123 opened #158 "Debian 10 incompatibility"
Hello! It doesn't work under Debian 10 (64 bit) at all even I can install it using Ubuntu instruction, Snap or AppImage. Could you please fix it and make it functional under Debian 10 and maybe other Debian based distribution as well but not only Ubuntu. Thanks in advance!

[2020-05-28 15:42] farnas123 commented on #154
Snap & AppImage didn't work for me on Debian 10. I suspect a bug here.

[2020-05-28 15:46] kamranjon commented on #155
@rathboma did the fix for this get in the latest? just tried it out and seeing same behavior - wasn't sure if the commit referenced in the closure was meant to fix

[2020-05-28 15:58] rathboma commented on #155
No, it's merged into master though if you want to pick up a Dev build.

It'll be in the next release, likely next week

[2020-05-28 16:53] kamranjon commented on #155
@rathboma I downloaded and tried out this release - https://github.com/beekeeper-studio/beekeeper-studio/releases/tag/v1.4.1 - is that the dev release?

[2020-05-28 17:39] rathboma commented on #155
No, you can grab the assets from https://github.com/beekeeper-studio/beekeeper-studio/actions/runs/117334223

They won't be signed, but they will work

[2020-05-28 19:00] #157 closed

[2020-05-28 20:14] ellisgl commented on #138
I was thinking of one less click, and have it on the same tab as the query, as a area below it, in a tab. That what I can switch back and forth between raw view and 'filtered' views quickly.

[2020-05-29 01:51] #122 closed

[2020-05-29 08:12] zaifastafa commented on #54
@rathboma Hi, thanks for waiting. I checked but unfortunately it does not show as expected.

![image](https://user-images.githubusercontent.com/24492269/83237075-09432c00-a1ae-11ea-9ee0-c4f5842bc316.png)

[2020-05-29 10:02] reeceahar opened #159 "Feature Request: Activity/Performance Monitor"
Is it possible to add a performance tab, that way I can see who's queries are hitting the DB the most and can monitor general DB behaviour?

[2020-05-29 16:04] mattzuba commented on #158
I ran into the same issue.  [This issue on electron/electron](https://github.com/electron/electron/issues/17972) helped as a workaround.

[2020-05-29 17:20] gnovaro opened #160 "Refresh button"
For example i create a new db. but if want to use this db y need to disconnect and connect again to see this new database in the select.

[2020-05-30 01:43] AqilCont opened #162 "Ability to create schemas."
I would really like a graphical interface for creating new schemas on the MySQL editor. It would add some more simplicity to the workflow.

[2020-05-30 09:05] jo-wu opened #163 "unable to save a favorite query without providing a database name"
OS: Linux Mint 18.3 (Ubuntu 16.04)
installed by snap

[2020-05-30 14:34] rathboma commented on #163
I'll take a look, any error message or anything like that?

[2020-05-30 14:39] rathboma commented on #160
Very true. You can refresh tables, but not databases. Should be easy to fix

[2020-05-30 16:18] pointtonull commented on #150
Not sure if helps, but a bisect on releases gave me:

first-bad:1.3.0
last-good 1.2.0

(GNU/Linux Mint/Ubuntu)

[2020-05-30 19:09] #113 closed

[2020-05-31 09:54] aligoren commented on #160
I added something like that. Can I open PR?

![image](https://user-images.githubusercontent.com/4205423/83349479-d3cd4880-a33d-11ea-8ce8-86c57007d442.png)

Thanks you <3

[2020-05-31 18:18] herbygillot opened #170 "Failure building Beekeeper 1.4.1 macOS Electron app"
Pertinent error: `beekeeper-studio-beekeeper-studio-2f92599/src/main.js: Cannot find module '@babel/compat-data/corejs3-shipped-proposals'`

Full error:
[code]

macOS `10.15.5`
yarn `1.22.4`
node `12.17.0`

[2020-05-31 21:10] #150 closed

[2020-06-01 02:07] ellisgl commented on #96
Also related to #138

[2020-06-01 03:15] JyCAydon opened #172 "Error displaying icon"
![image](https://user-images.githubusercontent.com/41415004/83372886-40594d80-a3f9-11ea-986b-811f8e0cbe72.png)

Almost all icons can't be displayed.
os: Ubuntu 18.04.3 mini installation

[2020-06-01 09:22] bjg2 opened #173 "Postgre: Usage feedback"
Hi,

first of all, thanks for the effort!

I agree the issue exists and that app like this is very much needed, that's why installed it right away and tried it out. I played with it for a few minutes, and because you are so kind to create this for everyone I spent few minutes to give you feedback on what I consider problems that blocks me for using it. You don't have to fix those, I just wanted to

[2020-06-01 12:24] lawless-m opened #174 "SSH Tunnel timeout is too long, makes it look like the app has frozen"
When I select SSH Tunnel it fails with the error message

"Failed to connect to 127.0.0.1:10000 in 15000ms"

I have no services running on that port

Looking online it suggests trying to reach Network Data Management Protocol (NDMP) but that's just a guess.

It works when I create the tunnel manually with ssh -L ........

so I can just use a wrapper and keep working

I'm using the Appimage version

[2020-06-01 12:28] lawless-m opened #175 "Not everyone loves dark mode"
And I'm one of them.

Any way to enable black-on-white ?

[2020-06-01 12:46] ptrkrlsrd opened #176 "Bug: Duplicated results when joining tables and selecting columns with the same names"
## Bug
When joining two tables where there are columns with the same name(e.g `artist.name` and `album.name`), only results from the last selected column are shown in the results table as shown below. In the example below I join a table called `artist` with one called `album`. Both of these have a column called `name` which causes a conflict when showing the results.

<img width="902" alt="Skjermb

[2020-06-01 13:23] lawless-m opened #177 "Doesn't work in my shell - rc"
Hi,

this one is a puzzler

If I start the AppImage version under bash or ksh everything is fine. If I use my normal shell - Tom Duff's rc shell - http://doc.cat-v.org/plan_9/4th_edition/papers/rc - which is part of plan9ports

then it just sits at the loading screen bouncing the yellow disks.

[2020-06-01 15:16] phillpafford commented on #173
I would agree with everything, but I do want to see all schemas in the sidebar, so maybe an option to load all/public when first opening the app?

Also I noticed it takes a while to load all the schemas/tables/etc... on initial start. working on large projects that can have hundreds, if not thousands of database tables, the app loads very slowly before I can even query a table. Possibly cache the

[2020-06-01 18:34] mariusa opened #178 "make new connection configurable by URL"
Most database providers give only the Connection URL by default, eg
[code]
https://devcenter.heroku.com/articles/heroku-postgresql-credentials

Note this is one string, no need to specify the separate fields.
When creating a new connection, would you please implement support for this type of URL as an alternative to filling in all the fields?

Thanks!

[2020-06-01 22:37] ghstng commented on #175
There is a light theme; we just haven't created a way to switch yet (Still working on a Settings View).

[2020-06-02 03:50] dopeghoti opened #179 "Enhancement: Allow SQLite over SSH"
Allowing an SSH tunnel to "proper" SQL servers such as MySQL or Prostgres is a boon, to be sure, but it would be neat indeed to be able to use Beekeeper to also access an SQLite file stored on a remote host through a tunnel.

[2020-06-02 06:37] mariusa commented on #129
Since `/` isn't a valid comment in SQL, another shortcut might make more sense. VS Code uses Ctrl + Shift + A, for example.

[2020-06-02 07:28] keith-hall commented on #129
<kbd>Ctrl + /</kbd> is a standard shortcut in Sublime Text for all languages, and I just tested in VS Code and it works there too...

[2020-06-03 04:18] rathboma commented on #178
Yes! This always annoys me when I'm using heroku, cant believe I overlooked it.

[2020-06-03 04:47] rathboma commented on #176
Yes very interesting. I'll see what I can do about this.

[2020-06-03 04:49] rathboma commented on #174
It's just using that port for the tunnel, but seems like it's failing to pass through the packets maybe.

Are you behind any type of firewall?

[2020-06-03 04:54] rathboma commented on #173
Awesome feedback! Thanks so much.

Many of these we know about and we're working to solve.

The schema ux is definitely wonky right now, but we're slowly moving forwards. I think a setting for the connection would make sense for sure to optionally limit schemas --- many folks use them like databases, so we can't hide them all the time.

Thanks for filing! I think you can see our vision, we're work

[2020-06-03 04:58] rathboma commented on #172
Can you run like this:

DEBUG=beekeeper* beekeeper-studio

And see what errors are in the terminal or the js console?

[2020-06-03 05:06] rathboma commented on #170
I think this is an issue with newer versions of node and some of the Babel plugins.

Let me look tomorrow. But in the meantime, downgrading to node 10, or maybe 12.16.2

[2020-06-03 05:09] rathboma commented on #177
My guess is that there are some missing environment variables or something, try running like:

DEBUG=* beekeeper-studio and see if you can find a definite error to paste here?

[2020-06-03 06:38] JyCAydon commented on #172
![image](https://user-images.githubusercontent.com/41415004/83603984-ef3b8c00-a5a7-11ea-97ed-f6bfb826510a.png)

[2020-06-03 14:20] rathboma commented on #179
Hey! Thanks for filing an issue. I agree this would be good.

Unfortunately this is not really possible with SSH tunnels (they require us to make a TCP connection, so we don't get a filesystem handle). We'd have to run our own node process on the remote server (like VSCode does for it's remote connections), and that's a lot of work.

Right now I recommend you use `sshfs` - https://github.com/libfu

[2020-06-03 14:20] #179 closed

[2020-06-03 14:24] rathboma commented on #172
@JyCAydon what installer version is this? Is this the tarball?

[2020-06-03 14:58] rathboma commented on #162
While I think this definitely helps accessibility, this is certainly not something we have the bandwidth to add right now, nor can I see this being a core feature for a while.

I think instead we're probably better served providing templates for table creation and letting folks view the DDLs for existing tables.

I'm going to close the issue to keep the issue tracker clean -- this doesn't mean I t

[2020-06-03 14:58] #162 closed

[2020-06-03 15:00] rathboma commented on #163
@jo-wu please try running like this:

[code]

and let me know what errors you see.

[2020-06-03 15:03] rathboma commented on #159
It's certainly possible, although certainly this isn't something we're able to do anytime soon.

I'll leave the issue up in case someone wants to work on it

[2020-06-03 15:55] reeceahar commented on #159
Thank you, I understand that not everyone would want the feature but it would definitely come in handy as the software becomes more popular :)

[2020-06-03 17:38] #160 closed

[2020-06-04 01:27] JyCAydon commented on #172
I use apt to install. And where can i find version?

[2020-06-04 05:56] aligoren opened #182 "Feature Request: Save, Update and Delete Records"
Hi.

Nowadays, I'm trying to implement these features on Beekeeper's table screen. By these features, I add a new row using a <kbd>+</kbd> button. And I can remove a record using <kbd>-</kbd> button. I also use a save button, etc.

| ...| ...| ...|
|--------------|--------|-------|
| ///|///  | ///  |
| <kbd>+ Button</kbd>          | <kbd>- Button</kbd>    | <kbd>Save Button</kbd>   |

## Update a

[2020-06-04 08:04] ptrkrlsrd commented on #176
Lovely! I might take a look at it myself if I find some time

[2020-06-04 08:42] gnovaro commented on #28
Hi to all, why no use the "Projects" section? and maybe the community can contribute. I like the project, but can't replace my Sqlyog for now... I use a lot of features, like backup, restore, create index, history tab, export to csv/excel and change separator integrated in the UI.

[2020-06-04 08:51] gnovaro commented on #182
I think is a related issue: Editing rows by double click #39

[2020-06-04 08:57] gnovaro commented on #135
I have had the same problem with a big mysql table and the program abruptly closed

[2020-06-04 11:53] aligoren commented on #182
Wow, :O there are many PRs. Thanks. I'll check it.

[2020-06-04 13:02] AqilCont commented on #182
TBH, these are some pretty sick additions tho, would love to see these keybinds implemented.

[2020-06-04 13:59] rathboma commented on #135
@gnovaro can you give me a few more details -- how wide / long was the dataset? eg 100 columns, 10000 records.

What view were you in? SQL editor or table-tab?

[2020-06-04 14:00] rathboma commented on #172
If you used apt install then it's the latest version... Can you test the AppImage version and see if it has the same issue? link - https://www.beekeeperstudio.io/download/?platform=appimage

[2020-06-04 19:49] tonyrein commented on #175
Just adding my vote -- I never have understood the appeal of dark themes! Thank you for your work on this -- other than the theme it looks great, and I'm looking forward to being able to use it.
--T

[2020-06-05 09:43] gnovaro commented on #135
I think columns no more than 16, but 50.000 records or more.

[2020-06-05 13:20] JustStanix opened #184 "Feature Request: Ability to add rows in table view."
A good feature would be adding new rows. So basically in the view or in the query editor view add an empty row at the bottom of everything and once it's filled with values run a query to add that row to the table. Or a "Add Row" button which would come up with a modal where you need to enter the values and click submit. Let me know what you think about this.

[2020-06-05 13:25] JustStanix commented on #184
Just saw a request like this already exists.

[2020-06-05 13:25] #184 closed

[2020-06-05 15:03] rathboma commented on #182
Hey! Awesome that you're thinking about this :-).

There are a few things we need to do to enable editing / deleting:
- When fetching table schemas, we should also fetch keys using `connection.getTableKeys()` - this will tell us which key is a primary key, and which is a foreign key
- If there is no indicated primary key (not sure this is even possible for most databases?), editing would be disabl

[2020-06-05 15:19] rathboma opened #185 "Ability to cancel a running query"
The query interface provides `cancel` and `discard`. So if someone runs a really long query by mistake they should be able to cancel it.

- Add information to the 'running' state to indicate if the state is `running query` or `loading data into table`
- If state is `running query` provide a `Cancel` button that calls `runningQuery.cancel` to stop query execution
- Add some sort of error, like `Que

[2020-06-05 15:20] rathboma commented on #152
This is fixed in master, thanks to @vuongggggg

[2020-06-05 15:20] #152 closed

[2020-06-05 15:21] rathboma commented on #128
Same as #185. Yes, lets do this.

[2020-06-05 15:22] rathboma commented on #96
Going to close this issue. This IS a feature, just we're not sure what the default should be, but once we have a settings system this can go in there.

[2020-06-05 15:22] #96 closed

[2020-06-05 15:24] rathboma commented on #30
@lordrak007 did you specify a 'defaultDatabase'?

[2020-06-05 15:24] #8 closed

[2020-06-05 15:34] MasterOdin commented on #182
All of the support databases of beekeeper support creating a table without a primary key. Some of them may create implicit primary keys under the hood (e.g. mysql using InnoDB), but that's completely invisible to the user.

[2020-06-05 15:42] rathboma opened #186 "Development Plan for BKS (and how you can contribute!)"
Hey everyone,

Here's a brief guide to our approach to development and how it relates to contributions

## Our Goal

We want Beekeeper Studio to be the best SQL editor and Database manager. Period. 🥇

^ Doing this is not just about having 'all the features', it's about providing a coherent application that is a pleasure to use. This might mean we decide to NOT include certain features.

Neither of

[2020-06-05 19:55] GammaGames commented on #60
Would be nice to have a pk and similar icons in column headers in the data viewer as well

[2020-06-05 19:56] GammaGames opened #188 "View GIS data"
The ability to view results as geometry on a map would be a nice little feature to have when a table has a geometry column (via PostGIS for example)

[2020-06-05 19:57] GammaGames commented on #112
Will beekeper support syntax highlighting in json fields as well? They're currently not very easy to parse visually

[2020-06-05 20:18] jo-wu commented on #163
thx..below is the log:

QueryFailedError: SQLITE_CONSTRAINT: NOT NULL constraint failed: favorite_query.database
    at new QueryFailedError (/snap/beekeeper-studio/22/resources/app.asar/node_modules/typeorm/error/QueryFailedError.js:11:28)
    at Statement.handler (/snap/beekeeper-studio/22/resources/app.asar/node_modules/typeorm/driver/sqlite/SqliteQueryRunner.js:48:38)
at @ vue.runtime.esm.js:1

[2020-06-05 20:23] rathboma commented on #163
Yep, looks like you're not specifying a `defaultDatabase` for the connection, and that is required by my schema.

[2020-06-05 20:24] rathboma commented on #163
not sure what type of db you're connecting to, but try specifying the field name

[2020-06-05 21:43] rathboma opened #189 "Initial menu items"
Note: We're not doing a settings page right now, we don't have enough stuff to configure. Instead just building a legit menu.

Beekeeper Studio (mac only)
- Quit (Mac)

File:
- New Window (eventually, not yet)
- New Query (ctrl + t)
- Quit (- Mac)

Edit:
- Copy
- Paste
- Cut
- Undo
- Redo

View:
- Reset Zoom
- Zoom in
- Zoom Out
- Toggle Full creen
- Theme
  - Light
  - Dark

Connection:
- Refresh

[2020-06-05 21:59] rathboma commented on #182
@MasterOdin I'm not sure there's a easy way to do updating if there isn't a primary key?

[2020-06-05 22:22] MasterOdin commented on #182
An off the cuff answer would be to use the `ROW_NUMBER()` function (or something like it) which provides a sequential number per row in a view. You would then be able to use that as a test for what row to update. Not as clean as a primary key, but should be doable.

[2020-06-06 01:10] AqilCont commented on #189
From the looks of this table, it looks like you will implement a standardized menu like this(but probably better looking):
![image](https://user-images.githubusercontent.com/32044067/83932439-8d7a4e00-a770-11ea-9cdb-d0e2908f4667.png)
Will it possible to place the menu in a non-standardized place(like somewhere other than the top left)? I personally find this boring as this makes the app look more

[2020-06-06 03:43] rathboma commented on #189
What platform are you on? We have some really nice designs for the Windows app. MacOS has an integrated menu bar, so that's solved, and for Linux I know better than to mess with native window decorations, so we'll be using the native menu bar.

I don't want to post screenshots to spoil it yet, but I will once we have a PR up :-)

[2020-06-06 03:45] rathboma commented on #182
Yep thought about that, but worried a little about the implications. I'm going to spy on what other db clients do and copy them :-)

[2020-06-06 03:48] jo-wu commented on #163
...right, after I set the connection name and the select a database, it works right. thx

[2020-06-06 13:48] iKlsR commented on #175
Duplicate of #26

[2020-06-06 17:42] strotgen commented on #178
Hey, I would like to help with this if that's okay.

[2020-06-06 20:15] rathboma commented on #178
:+1: that'd be amazing

[2020-06-07 22:22] strotgen commented on #178
How were you thinking about doing it?

Visually: TablePlus has an [Import from URL](https://docs.tableplus.com/gui-tools/manage-connections#importing-connection-url) button on the same screen that allows you to select the database driver. That would be one option. Or maybe adding a button to the left of _Test_ and _Connect_ buttons?

For the URI parsing, I had thought of a simple method that assig

[2020-06-08 02:19] rathboma commented on #178
I think a import link in the top right on the connection card, even when the DB type drop-down is there would work, then that is parsed and fills in host/port/type/etc ready for the user to test/connect/etc as normal

Also, if someone pastes a valid DB url into the host field it should auto detect it and do the same

[2020-06-08 13:42] JyCAydon commented on #172
![image](https://user-images.githubusercontent.com/41415004/84037213-d7fa0580-a9d0-11ea-8bf6-07018a9f1ded.png)
sorry, I forget to test the AppImage. The AppImage version has the same issue too.

[2020-06-08 14:26] rathboma commented on #188
That'd be cool! Would love to enable this type of support with plug-ins in the future.

Related to #95

[2020-06-08 14:28] rathboma commented on #174
Can you run like this:

[code]

[2020-06-08 14:43] GammaGames commented on #188
I didn't see the plugin issue, it would be a good fit as one!

[2020-06-08 18:02] GammaGames commented on #173
I agree. I am okay with seeing it on first connection, but the ability to right click and hide a table or view (as well as right click and show hidden) would be a nice

I don't agree with this, part of the reason I like beekeeper so much is because of how simple it is. No nested trees to dig into to see the tables, I've seen other management tools that need you to go into database > "Schemas" > sc

[2020-06-08 18:40] Siilwyn commented on #26
Would be awesome if the theme defaults to 'automatic', in that it will follow the OS setting from [`prefers-color-scheme`](https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme).

[2020-06-10 00:38] leandrocamposcardoso opened #194 "The "config.authentication.options.password" property must be of type string."
Error on Debian 10(Buster) when trying to connect to saved connection.

Kernel: `Linux debian 4.19.0-9-amd64 #1 SMP Debian 4.19.118-2 (2020-04-29) x86_64 GNU/Linux`
Node version: `v10.21.0 `

[2020-06-10 00:46] #194 closed

[2020-06-11 01:56] rathboma commented on #174
Ah, great to know! Glad I didn't break SSH :-).

I'm changing the topic of the thread to match this

[2020-06-11 02:00] rathboma opened #197 "Settings options for settings screen [please help contribute]"
Right now we're not building a settings screen, because we have no need for it.

However we will build one when we have a lot of things to put in it.

Current ideas:

- Connection timeout
- SSH Timeout
- Firewall (for app updates)
- Theme
- Font size
- Interface zoom level

[2020-06-12 08:00] lawless-m commented on #174
I must apologise. I too have got it working.

I still think the error message could do with changing as it didn't help me diagnose the problem.

I don't know if it is possible to tell whether it connected to the first hop or the target.

[2020-06-12 08:00] #174 closed

[2020-06-12 08:07] lawless-m commented on #177
matt@hex:~$ rc
% DEBUG=* Beekeeper-Studio-1.4.1.AppImage
LS_COLORS=rs=0:di=01;34:ln=01;36:mh=00:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:mi=00:su=37;41:sg=30;43:ca=30;41:tw=30;42:ow=34;42:st=37;44:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arc=01;31:*.arj=01;31:*.taz=01;31:*.lha=01;31:*.lz4=01;31:*.lzh=01;31:*.lzma=01;31:*.tlz=01;31:*.txz=01;31:*.tzo=01;31:*.t7z=01;31:*.zip=01;31:*.z

[2020-06-12 08:07] lawless-m commented on #175
oh, sorry for the dupe, I did scan through but missed it

[2020-06-12 08:08] #175 closed

[2020-06-12 13:29] rathboma commented on #177
@lawless-m can you dload one of the linux builds here - https://github.com/beekeeper-studio/beekeeper-studio/actions/runs/132290778 and test the app image? I've had to replace the regular executable with a bash script (for another issue) in linux, so this may fix your problem

[2020-06-12 13:32] rathboma opened #198 "Provide a `.desktop` file in the docs for folks using the AppImage"
For those using the AppImage and not installing normally into their app tray it'd be nice to provide a .desktop file that points to their local copy of the app image.

A PR here should include:

1. The text of the .desktop file, along with locations to sub out the `path` of the app image
2. Instructions on where to put the .desktop file inside the user's home directory
3. Some manual testing to be

[2020-06-12 14:50] lawless-m commented on #177
I used ubuntu-18.04

matt@hex:/dev/shm$ rc
% DEBUG=* ./B*
LS_COLORS=rs=0:di=01;34:ln=01;36:mh=00:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:mi=00:su=37;41:sg=30;43:ca=30;41:tw=30;42:ow=34;42:st=37;44:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arc=01;31:*.arj=01;31:*.taz=01;31:*.lha=01;31:*.lz4=01;31:*.lzh=01;31:*.lzma=01;31:*.tlz=01;31:*.txz=01;31:*.tzo=01;31:*.t7z=01;31:*.zip=01;31:*.

[2020-06-12 14:51] lawless-m commented on #177
Same result.
Again, it works fine in Bash

[2020-06-12 14:51] lawless-m commented on #177
(with the same ProtocolDeprecateCallback message)

[2020-06-12 14:52] lawless-m commented on #177
I do appreciate you working on this but it's not causing me any pain btw.
I already wrap it in a shell script so I just use bash

[2020-06-12 14:58] rathboma commented on #177
I figured I'd jump in again after making the bash wrapper script to see if it fixed it, alas no.

Glad you've got a wrapper! I suspect this is some deep problem with electron's package format, and it assuming that users have a `bash` shell.

[2020-06-12 16:10] GammaGames commented on #197
Would editing shortcuts be on this screen too? It would be nice to be able for users to change the run or new query shortcuts.

And the ability to change the default editor contents would be nice. I don't want 10 blank lines, but defaulting to a blank `Select ... From` would be nice

[2020-06-12 20:55] JamesDBartlett opened #199 "Backslash as escape character throws off SQL syntax highlighting"
It appears that backslash is treated as an escape character for the purposes of the SQL syntax highlighter, so it treats all code following a backslash encased in single-quotes ('\\') as one long string.

![image](https://user-images.githubusercontent.com/37491308/84545110-3fab9b80-acc4-11ea-8d44-d93db301b42a.png)

Notepad++ has an option in its language settings called "Treat backslash as escape

[2020-06-14 19:55] rathboma commented on #199
Oh yeah that's a PITA. We're using the stock CodeMirror syntax highlighting libraries. I'll see if there's a way to fix it.

[2020-06-15 00:05] syslogic opened #202 "No RPM package available"
Just wanted to install Beekeeper, but RPM does not seem to be supported (which merely implies that only 50% of Linux are being supported, at while not wanting to use app images or snaps). Would it be desired to package for RPM? If so, I probably could provide the RPM scripts.

[2020-06-15 10:28] tonywei92 opened #203 "Cannot copy text/highlight text in Beekeeper latest update"
Cannot copy any Text (CTRL+C). I'm using Linux PopOS.
Why the text-highlighting disabled?

[2020-06-15 15:39] rathboma commented on #203
Hmm, it shouldn't be. I'll investigate.

[2020-06-15 15:40] rathboma commented on #203
Which version are you using? Deb/Snap/AppImage?

[2020-06-15 15:45] rathboma commented on #202
Yeah I know :-/

I don't use a yum based system on a daily basis, so I've been cautious to offer support for them when it's not part of my manual testing flow. That's why I focused on AppImage and Snap. I'm happy to enable an RPM build if folks want it.

There are a few things needed:
- Modifying vue.config.js to support linux/rpm build target (easy)
- Adding a post-install script to add the repo

[2020-06-15 17:10] syslogic commented on #202
`rpmbuild` generally uses `*.spec` files combined with a certain directory structure to package.

The post-install script would have to check, if [`yum`](https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/6/html/deployment_guide/ch-yum) (CentOS, RHEL) or [`dnf`](https://fedoraproject.org/wiki/DNF) (Fedora) is the package manager, as they are both used to handle `*.rpm` on diffe

[2020-06-15 17:53] rathboma commented on #202
So [electron builder](https://electron.build) should be able to do most of the work to build the RPM package. It uses [FPM](https://fpm.readthedocs.io/en/latest/) under the hood to make the RPM/DEB files, for the DEB build I just provided a flag for the post-install script.

So, tl;dr - we shouldn't need a .spec file as it will be created by electron-builder. I think it should build a fine RPM out

[2020-06-15 17:56] syslogic commented on #202
Adding the repository is a piece of cake, just would need to know the URL. It might not work out of the box, as `*.deb` does not apply SE Linux labels... and there is no way it could foresee which ones to apply. In case this would be required, this would have to be part of the post-install script.

[2020-06-16 02:31] tonywei92 commented on #203
Hi, it is deb one

[2020-06-17 02:31] p0n1 commented on #203
Same here on macOS 10.15.4. I switched back to version 1.4.0.

[2020-06-17 03:36] tonywei92 commented on #203
@p0n1 I ended up using both BeeKeeper and DBeaver at the same time, DBeaver for the copy operation.

[2020-06-17 08:55] louisguitton opened #204 "clash between parameter feature and type casting in Redshift"
Hi, I wanted to give beekeeper studio a try. So I installed it on my Mac, and connected to a Redshift Data Warehouse.
I ran the following query:

[code]

and when I try to tun it, I get the following pop-up:
![image](https://user-images.githubusercontent.com/7823843/84877511-e60eec80-b088-11ea-8a96-c59cd171928d.png)

I couldn't find any more info in the docs ore on the landing page about the param

[2020-06-17 15:57] GammaGames commented on #204
You can get it to work by entering `:float` in the input box, but the  ignore `::`, maybe an issue with the regex on [this line](https://github.com/hillmanov/beekeeper-studio/blob/b65514ffbcdd2c50c6b0d712edde92c8108d2079/src/lib/db/sql_tools.js#L30)

[2020-06-17 18:04] syslogic commented on #202
So that's the first draft of the post-install script; I just hope I haven't broken the DEB version.

[2020-06-17 18:22] rathboma commented on #203
@tonywei92 @p0n1 do you mean copying text from the SQL editor, or from the table view?

[2020-06-17 18:24] rathboma commented on #203
@ghstng I think the 'no select' change you made also made it impossible to select text in result tables and copy it

[2020-06-17 18:28] syslogic commented on #202
Well ... `/$releasever/$basearch` will resolve to paths alike `/7/x86_64` or `/8/x86_64`. It might be better to get rid of `$releasever`, as I have no clue what Fedora would return and adding duplicate packages is useless.

[2020-06-17 20:50] LoveSponge commented on #67
+1 for this, specifically excel (xlsx) would be especially useful

Thanks for this awesome project by the way, it's WAY better than Microsoft's own 'Azure Data Studio' which i converted from when i switched to linux. (i know it would have worked, but i never liked it, just used it because it was the most lightweight solution for me at the time. But BEEKEPER is WAAAAAY better!)

[2020-06-17 22:47] #203 closed

[2020-06-17 22:49] rathboma commented on #204
Thanks! @GammaGames you're right. I'm going to incorporate that change. @louisguitton so sorry you hit this issue. Point release coming out presently

[2020-06-17 23:06] #204 closed

[2020-06-17 23:06] rathboma commented on #204
build coming out later today

[2020-06-17 23:06] rathboma commented on #203
build coming out later today

[2020-06-18 02:44] rathboma commented on #202
@syslogic wanna open a Pull Request? Then I can review for feedback!

[2020-06-18 05:01] tonywei92 commented on #203
@rathboma hi thanks for the update, tried it, now I can highlight text and copy, but still cannot copy table name on the sidebar, any idea?

[2020-06-18 08:27] lode opened #208 "Auto completion when using backticks around tables names"
I would love the auto completion of column names also when adding backticks around the table name. Maybe it is not always needed but it is something I've got accustomed to. E.g. typing

[code]

would then auto complete the columns.

[2020-06-18 08:30] lode opened #209 "Auto completion of columns without table prefix"
I would love if column auto completion would also work when not prefixing with the table name. This saves some typing when doing single table queries. Also, not having this makes me feel I have to tell the software how to be smart :) E.g. when typing `SELECT * FROM users WHERE ` it would auto complete column names from `users`.

I understand this might be tricky, especially when using joins. I don

[2020-06-18 08:39] lode commented on #90
I want to second this issue. It is annoying to think about this to prevent the app becoming unresponsive and crashing.

I think a default is fine, if it is shown somewhere in the footer status bar and overwritten when adding your own limit. The way it works in MySQL Workbench I think is just fine.

But having a stream could also work for sure. Or any other way that doesn't crash the app or the ser

[2020-06-18 13:10] rathboma commented on #203
Can I ask the use case of copying the table name?  I want to support it, but maybe there's something else I can do to support your use case better

[2020-06-18 17:11] mariusa commented on #178
Please see https://github.com/beekeeper-studio/beekeeper-studio/pull/201/commits/263b0f5070e484d7b41135d9c0dc95f5801c268f
for a bug & solution

[2020-06-18 17:15] mariusa commented on #178
Also, please check Enable SSL too when importing (eg heroku string)

[2020-06-18 17:39] strotgen commented on #178
Thanks for spotting that bug, I'll fix it asap.

As for the SSL option, there is already some code for doing that. It just checks for sslmode=require or sslmode=prefer in the params. I could add the other [sslmode options](https://www.cockroachlabs.com/docs/stable/connection-parameters.html#secure-connections-with-urls), if that's the problem.

If it isn't working for you, could you please provide

[2020-06-18 18:04] mariusa commented on #178
Thanks!

Heroku URL:
[code]

For me it didn't work without SSL, with the message
[code]
(on Linux, Fedora)

[2020-06-18 22:00] rathboma commented on #178
Hey folks,

I've disabled this feature currently in the 1.5.3 deploy. I have a branch to re-enable it with a few changes. Notably there are some URL parsing differences in node vs browser JS.

[2020-06-18 22:05] rathboma commented on #209
💯  I agree with this. Currently I'm using the off-the-shelf SQLHint component of CodeMirror, which isn't super duper smart about this stuff. And it certainly gets more tricky as you have more and more tables in a join.

The real solution is for us to build a full-blown SQL parser library to turn the (partial) query into a structured object. Short-term we could probably build a regex to extract use

[2020-06-18 22:07] rathboma commented on #208
I believe this works in PSQL with double quotes right now, but we need a more comprehensive solution for sure. Definitely related to your other ticket #209, a more intelligent SQLHint library is required here.

[2020-06-19 09:09] cedx opened #210 "SQL Server 2000 support"
When connecting to an old SQL Server 2000, I get the error: `ERRCONNRESET`.

But I can connect successfully to the server when I manually use `mssql`/`tedious` package via a Node.js script (i.e. by setting the `options.tdsVersion` option to `7_1`).

It would be very cool if we could select the TDS protocol version in the connection dialog.

[2020-06-19 11:06] mengqing commented on #65
Luv this idea, perhaps also have the ability to assign different colors

[2020-06-19 13:09] rathboma commented on #65
We have colors! Download the latest release for colors :-)

[2020-06-19 14:04] YannickDurden opened #211 "Delete saved queries"
Hi !

I didn't found an issue with this option but if we can saved queries, it'll be nice to delete these queries. Or maybe this feature already exist but doesn't work ?

[2020-06-19 20:09] rathboma commented on #211
Ah, yes there's no button to do this right now. We're working on right-click menus that will enable this.

[2020-06-19 20:12] rathboma commented on #210
Hey! Interesting. Many of the queries we use for tables and columns may not work properly on such an old version of SQL Server. May be worth copy/pasting the sql server client for 2000 and adding specific options for it.

It's definitely not a priority for us to be honest (2000 went EOL in 2013 if I remember correctly), but shouldn't be that hard to do if someone has time.

[2020-06-19 21:28] lode commented on #208
Thanks for the heads up. And too bad, I'll try to change my habit :)

[2020-06-20 13:24] rasmus91 commented on #22
And elementary OS 😁

[2020-06-20 16:07] muhammad-saleh commented on #186
Thank you so much for this amazing project, Really exciting!
I started to use Beekeeper Studio along with other apps that I use till data editing and updating is implemented and I will definitely switch to using it fully
Keep up the good work.

[2020-06-21 01:21] jet10000 opened #212 "export query results to json file support"
Please add function export query results to json file.

[2020-06-21 08:08] KasperFranz commented on #212
Duplicate of #67

#67  is adding more formats (including JSON)

[2020-06-21 09:05] #212 closed

[2020-06-21 17:38] cedx commented on #210
I understand 😄 At my work, we still use several instances of SQL Server 2000, and I haven't found any GUI that support such an old version. It's a pain to always use CLI scripts for querying the database just to check some data.

[2020-06-22 23:01] malammar opened #214 "Feature Request: Keymap preview and new hotkeys"
Love this app! Fills a massive need in the dev arsenal.

I would love to see expanded hotkey support and the ability to review available hotkeys.

- Tab forward/back: `Ctrl+PgUp` / `Ctrl+PgDown`
- Move focus between sidebar, results set: `Ctrl+B`
- Toggle focus from sidebar to active query editor: `Ctrl+B`
- Arrow key support in sidebar
- Disconnect: `Ctrl+Shift+W`

[2020-06-23 13:46] rafaeldev opened #215 "Check connection name on save"
![image](https://user-images.githubusercontent.com/4596160/85411124-552f8980-b53e-11ea-8dfe-8562441d57a1.png)

When I click on "Save" without fill "connction name" the message "Connection information saved" appears but does not reflect on my saved connections left tab.

I think which that behaviour is show alert from any validation from form fields.

[2020-06-23 17:35] cursorius-cursor commented on #176
Discoverd the same effect and tested with a sqlite3 database. In postgres the first column is doubled, in sqlite the second column with the same name is not shown.

`CREATE TABLE T1(
NUM INT PRIMARY KEY     NOT NULL,
NAME            TEXT    NOT NULL);

CREATE TABLE T2(
NUM INT PRIMARY KEY     NOT NULL,
NAME           TEXT);

INSERT INTO T1 VALUES(1,'a');
INSERT INTO T1 VALUES(2,'b');
INSERT INTO T

[2020-06-23 19:09] rathboma commented on #215
Yes this is a bug, good call. Should be easy to fix.

[2020-06-23 19:11] rathboma commented on #214
Yes agreed! We need to do a big reworking of keyboard shortcuts, we don't even document them right now, not good.

I'll leave this here, but will eventually create a keyboard-shortcut meta-ticket to document all the keyboard shortcuts we want.

[2020-06-23 21:12] pvanhemmen commented on #135
I can confirm these slow load times on average sized to big tables (~ 500.000 entries). Trying to open a bigger table from the tables & views panel on the left hand side not only takes quite some time to load but also drastically slows down the application and the whole interface (for example switching forth and back between a query tab and the results tab).
Do the queries used for display have a

[2020-06-23 21:36] rathboma commented on #135
Hey @pvanhemmen,

Thanks for reporting. Hoping you can give me some information:

1. How many tabs do you have open?
2. Query tabs -- how many results displayed?
3. Table tabs -- how many table tabs?

The table-tabs only pull back the first page of records, then page in results as you navigate the table.

The query tab just loads your whole result-set (upto ~100k records I think). I need to change

[2020-06-23 22:26] pvanhemmen commented on #135
Hey @rathboma ,

I had just the results tab from the table view open and an empty query tab (with no query sent). So I investigated some more and the problem seems to be more related to the amount of columns within the displayed result. I have a table with ~ 150 columns and this seems to slow down the application even with just 10 entries selected. Limiting to 100 or even 1000 makes beekeeper near

[2020-06-23 22:29] pvanhemmen commented on #135
Just read your comment above from 05/23 again and yes, I think that's the culprit.

[2020-06-23 22:32] rathboma commented on #135
Yep for sure. I think I need to move to a different table library or figure out how to get tabulator to better deal with many columns

[2020-06-23 22:33] pvanhemmen commented on #135
Alright, thanx for taking the time and for your efforts!

[2020-06-23 22:36] pvanhemmen commented on #135
Maybe have a look into datatables. I remember that library having a feature called deferred rendering. Seems it is still implemented: https://datatables.net/examples/ajax/defer_render.html

[2020-06-24 22:07] rathboma commented on #172
@JyCAydon did you manage to run with the debug flag to see if there were any errors? Check both terminal output and the developer console in the app

[2020-06-25 11:18] ricobl commented on #173
I've been looking for a modern multi-db client and I see a lot of potential for Beekeeper. As mentioned, the UI seems really cool and I'll keep an eye on the project.

Regarding postgres, I also noticed that connecting can be really slow and I believe it's related to displaying the schema on the sidebar.

I've enabled query logging in my local machine and TablePlus uses 7 queries when connecting w

[2020-06-25 14:03] rathboma commented on #173
@ricobl so currently Beekeeper performs:
- 1 query to get all tables
- 1 query PER table to get columns

So if you have 150 tables, it makes 151 queries.

This isn't ideal. We used to only load in columns when you expanded the table in the sidebar, but then we couldn't effectively use column names for auto-complete in the query editor. So this was a quick fix to get that working.

What we SHOULD d

[2020-06-25 14:06] rathboma opened #216 "Table and schema names do not autocomplete properly"
Currently the editor auto completes column names, but does not auto complete schmas or tables in certain circumstances.

- Schemas should auto-complete along with table names after typing `from`, `join`, etc.
- Tables should auto-complete after typing `schema.`, same as columns auto-complete after typing `table.`

[2020-06-25 14:25] mariusa commented on #173
After connecting to Heroku postgres, Beekeeper shows > 100 databases under "Connection" dropdown. I already specified the database when creating the connection. Is reading all dbs necessary? One might have a db dropdown when creating the connection, but I don't see why it's needed afterwards.

[2020-06-25 15:52] rafaeldev commented on #215
Great!
And, about this same action, after a create the connection (and its appears on side bar) the form still binding new connection.
Make sense clear all fields after save?

[2020-06-25 16:38] rathboma commented on #173
@mariusa Yes for Heroku I can see how that is not ideal. I think we should have the option to 'hide' other databases on the connection.

I don't think this should be the default though -- many folks use multiple databases in their production set-up so we don't want to obfuscate that.

[2020-06-25 16:40] rathboma opened #217 "Provide an option to 'hide other databases' when connecting"
By default we show all databases available on your connection.

This is great...unless you're using a shared database provider like Heroku PSQL.

See https://github.com/beekeeper-studio/beekeeper-studio/issues/173#issuecomment-649581134

Provide an option on the `new connection` screen to 'hide other databases'

[2020-06-26 12:23] jsenich opened #219 "Queries using regexp character classes prompt for parameter values"
When executing a MySQL query with a regular expression character class, the character class is being picked up as a parameter and a prompt to provide parameter values is displayed.

[code]

![Screen Shot 2020-06-26 at 8 22 30 AM](https://user-images.githubusercontent.com/1821282/85856565-3c191980-b786-11ea-8b62-5fd3f45332ff.png)

[2020-06-26 14:48] GammaGames commented on #219
Oh boy this regex is getting complicated, I bet it can be simplified: `(?:[^a-zA-Z0-9_:]|^)(?::|\$)(\w+|\$\d+)(?:[^:]*?$)`

[regex101](https://regex101.com/r/lAMQlh/2)

[2020-06-26 19:29] mariusa opened #220 "JSON field enhanced view"
Hi,

The json/jsonb fields in postgres work fine in beekeeper.
Instead of seeing it only as 1 huge line, it would be awesome to show only first X chars, with "...", and be able to double-click on that cell.
Then open a popup with the entire JSON data, beautified with ```JSON.stringify({a: 1, b:2}, null, 4)```
https://stackoverflow.com/questions/4810841/pretty-print-json-using-javascript

Bonus poi

[2020-06-29 06:30] mariusa opened #221 "usability: can't tell which connection I'm in"
After connecting with a saved db connection, there's no visual way to tell which connection I'm in (eg a few hours later)

![Screenshot from 2020-06-29 09-28-19](https://user-images.githubusercontent.com/1283842/85980430-0d4fad00-b9eb-11ea-8948-a6a0632a6e55.png)

Would you please consider making the "Connection" string be the saved connection name & color instead?

[2020-06-30 14:25] rathboma commented on #219
Yes that's a problem.

If you have time, do you mind adding the test case to `sql_tools_spec.js`? Even if you can't fix it.

[2020-06-30 14:26] rathboma commented on #221
Yep 100%. We have a change in a PR that moves some of this stuff to a status bar at the bottom -- complete with connection colors. :-)

[2020-06-30 14:28] rathboma commented on #220
Would love to do this. I think there's a need to do this for all `text` values too (truncate them). I'm playing with the idea of a sidebar that opens to show large content, but haven't had time to do it yet, and I want to make sure it's a coherent implementation.

[2020-06-30 14:37] GammaGames commented on #219
I'll make a pr after work

[2020-07-01 01:40] #38 closed

[2020-07-01 01:41] #219 closed

[2020-07-01 15:10] gnovaro commented on #46
I have similar problem. I try to restore a MySQL dump. Error line number must be useful

![Captura de pantalla de 2020-07-01 17-06-23](https://user-images.githubusercontent.com/270990/86260449-961e4280-bbbd-11ea-91a7-428dcdd905db.png)

[2020-07-01 15:40] gnovaro commented on #189
I suggest add
Help -> About
Display current version runing and check for updates

[2020-07-01 15:42] gnovaro opened #224 "Create Database Popup window"
A simple dialog add database name and choose collation in a drop-down

[2020-07-01 19:23] #30 closed

[2020-07-02 02:23] nickabbooo commented on #103
Was about to create the same suggestion but realized on I could simply create a new window. Maybe after #225 switching between multiple connections will be a breeze. Really love how clean the UI. I'm using Ubuntu so the UI is WAY BETTER compared to other clients. Excited to see more! :D

[2020-07-03 05:48] goudanz opened #228 "When there are too many tables, it's will takes a long long time"
![image](https://user-images.githubusercontent.com/23636449/86435834-8b85b980-bd33-11ea-83e2-aa7bc07cb449.png)

[2020-07-03 12:43] CM000n opened #229 "Please add support for Hadoop / Apache Hive"
Great work with this project! I already use Beekeper Studio regularly with my Postgres DB and love it.

Maybe it has been mentioned here before, but I would also really appreciate it if one of the future versions would include support for Hadoop / Apache Hive.

In any case already many thanks

[2020-07-06 01:22] fcchn4 opened #230 "Package available for Flatpak or .RPM"
Goodnight
I am currently a beekeeper-studio user, it is an excellent administration tool for databases.
I am a user of the Fedora Operating System where I use .RPM packages and I also use Flatpak where beekeeper-studio is not available in either option.
The project will have a plan to package the beekeeper-studio at .RPM or for Flatpak where it will facilitate the use of beekeeper users.

Regards.

[2020-07-06 02:47] #63 closed

[2020-07-06 02:47] #215 closed

[2020-07-06 02:47] #221 closed

[2020-07-06 08:07] seisenreich commented on #197
A zoom functionality would be great. Even when no settings screen is available it would be fantastic to be able to zoom with `Ctrl/Cmd` + `+`  or zoom out with `Ctrl/Cmd` + `-`, similar to how web browsers do it.
Also, you could show the current installed version of the app in this screen.

[2020-07-06 08:26] seisenreich commented on #189
Also Edit -> Import Database (from .sql file) and Edit->Export Database... would be fantastic as it is done in SequelPro for Mac OS.

[2020-07-06 10:59] oDevArc opened #231 "export/import settings in YAML or JSON"
It could be very cool to export/import settings in YAML or JSON for keeping all connections parameters (except passwords)

maybe there is already a file keeping these informations in /home/$USER/snap/beekeeper-studio/current/.config/beekeeper-studio ?

thank you

[2020-07-06 13:16] oDevArc opened #232 "fedora/snap : unable to save connections"
I'm on Fedora 31 and install beekeeper-studio via snap : everything work greate : but if I save a connection : next time I launch beekeeper-studio : my saved connections are gone

[2020-07-06 14:26] gnovaro commented on #143
Add Events too

[2020-07-06 15:30] mariusa opened #233 "Scrollbar is hard to see in dark theme"
![Screenshot from 2020-07-06 18-28-23](https://user-images.githubusercontent.com/1283842/86610882-98660f80-bfb6-11ea-9cf8-9ff158975e0e.png)

Would you please consider making the scrollbars easier to see in dark theme?
eg
* the background of entire area where one can move the scroller could be light gray instead of black
* the scroller could be closer to white instead of current dark grey

Thanks!

[2020-07-06 23:41] lvitals opened #234 "Freebsd support"
I've been using FreeBSD as my primary desktop system for some time now. I am in need of a sql client for GUI. What do I need to build the project for FreeBSD? Python, Yarn, Vue.js, Sqlite?

[2020-07-07 02:03] rathboma commented on #232
@oDevArc are you adding a name to the connection? I have a bug fix in master that enforces connection name. It's currently not checking that.

[2020-07-07 02:04] rathboma commented on #228
I know :-(. It's running too many queries right now to get column data. I'm working on a fix.

[2020-07-08 09:19] goudanz opened #237 "Is there any idea to increase these functions now?"
- 1. edit table structure
- 2. Can open multiple links at the same time And execute sql operation

If have these two functions, you can give up dbeaver completely，it takes up too much memory

[2020-07-08 18:45] seisenreich opened #238 "Installation per apt"
Hello everyone,

I didn't find a contact mail address or form at the homepage, so I open the installation issue here.
Please tell me if this is the wrong place for this kind of problem and if so please also tell me what is the right place.

When I try to install the app per apt - as described here on the official website installation guide [https://docs.beekeeperstudio.io/installation/#apt-deb](ur

[2020-07-08 19:01] rathboma commented on #229
Me too! I'm not sure native node-js libraries are available for it (or Spark), might be JDBC only? I'll look into it.

[2020-07-08 19:46] rathboma commented on #238
Hey Steven,

Hmm, I'm not sure why you're having this issue.

This may have been a short-term issue with Bintray (our deb host). Can you try running `sudo apt install beekeeper-studio` again?

If that doesn't work, some questions:

1. Are you behind a corporate firewall?
2. Can you `ping d29vzk4ow07wi7.cloudfront.net`?

[2020-07-08 19:57] rathboma commented on #230
👋 Your English is great!

We have an outstanding PR for an RPM package, so hopefully that will be coming soon. There's no off-the-shelf `flatpak`  builder for electron-builder, so that seems less likely in the short-term.

See: #218

[2020-07-08 19:59] rathboma commented on #233
@ghstng wanna weigh in here?

[2020-07-08 20:36] rehpa opened #239 "Yubikey support for ssh tunnel"
I like the features in this client!  Is it possible to add Yubikey support for the SSH tunnels?

[2020-07-08 21:32] seisenreich commented on #238
Hi Matthew,

well, that was a quick response. Thank you.

My computer is not behind a corporate firewall.
Ping works flawlessly - < 30 ms timing + no data loss - , but `sudo apt install beekeeper-studio` will run into the same 403 error when trying to fetch the *deb file from cloudfront.
Strange. I temporarily disabled my Routers and computers firewalls, too. No effect.

What I can do is installin

[2020-07-08 22:04] rathboma commented on #238
Looks like you have some escape characters in the gpg import statement? Maybe that's it.

So the DEB download will add the repo itself, so we can test doing it that way:

I'd try:
1. Remove the apt repo for beekeeper: `rm /etc/apt/sources.list.d/beekeeper-studio.list`
2. Reinstall the `deb` file -- it will add the repo & key itself
3. remove it `sudo apt remove beekeeper-studio`
4. install again (

[2020-07-08 22:05] rathboma commented on #239
@rehpa Few questions:

1. What platform are you on? (eg Windows, portable exe)
2. I'm not familiar with Yubikey, can you tell me how you currently use it to do SSH?
3. Can you add  your Yubikey credentials to the SSH Agent? That way you can use them with Beekeeper

[2020-07-08 22:07] rathboma commented on #237
@goudanz Thanks for joining the community!

Some follow up comments / Questions:

1. By this do you mean a GUI to edit the table fields / types and commit the changes?
2. What do you mean by multiple links? Multiple connections?
3. Do you mean to have the editor re-format the SQL you have entered in the text box?

[2020-07-08 22:09] rathboma commented on #231
Hey!

So there's an `app.db` file and a `.key` file in that directory -- this stores all of your app configuration. So you can back this up / ship it around if you need to. You need both of them.

We'll be adding some formal support for this type of thing in the future, so stay tuned!

I'll close the issue for now. :-)

[2020-07-08 22:09] #231 closed

[2020-07-08 22:13] rathboma commented on #234
Looks like there is a `freebsd` target in electron-builder. So if you wanted to build your own package you'd do:

[code]

It might not work -- I haven't configured this build target at all, and can't honestly say it's a priority, but please try and and let me know!

Here are the [electron builder docs](https://www.electron.build/configuration/linux#linuxtargetspecificoptions-apk-freebsd-pacman-p5p

[2020-07-08 22:18] rathboma commented on #197
Zoom is coming soon.

I like the default query idea, and about screen, but they won't make it into v1.

[2020-07-08 22:20] rathboma commented on #145
I'm gonna close this issue, but do have a private ticket for myself -- I want to totally overhaul the SQL editor with a full SQL parser that's a lot more smart.

[2020-07-08 22:20] #145 closed

[2020-07-08 22:29] seisenreich commented on #238
After executing these 4 steps I still get a 403 error when trying to install the app per apt install.
Do I have to find remove the pgp key entry manually, too if it has been saved wrong in the first place due to possibly harmful url escaping?

It's getting late (already after 0am in my time zone) and I have to work tomorrow morning, so I will continue investigating this problem tomorrow after gett

[2020-07-08 22:36] rathboma opened #240 "Funky alignment with long column types"
When the column type, or column name, is long, the badge behaves in weird ways.

![image](https://user-images.githubusercontent.com/279769/86977094-7cdb4000-c141-11ea-8bdb-441d562e2bbd.png)

[2020-07-08 23:23] rathboma commented on #238
When you get online tomorrow, can you verify that wget is installed and try the gpg command in bash instead?

[2020-07-09 06:41] goudanz commented on #237
@rathboma hi， I'll illustrate these features with screenshots of the corresponding functions of several other products.

comments / Questions:

1.
 ![image](https://user-images.githubusercontent.com/23636449/87002629-908fb080-c1ec-11ea-85b3-d9cb08435bda.png)

[2020-07-09 06:48] goudanz commented on #237
Questions 2：
[code]
![image](https://user-images.githubusercontent.com/23636449/87006001-84a6ed00-c1f2-11ea-9146-45030a1da01b.png)
### like this：
![image](https://user-images.githubusercontent.com/23636449/87006368-23334e00-c1f3-11ea-96e8-c260f12f6e43.png)

[2020-07-09 07:33] seisenreich commented on #238
Sure.
wget is installed:
[code]

wget is absolutely available through my zsh installation.
For testing purposes I also tried to add the gpg key by curl:
[code]
Results also in "OK". Both
`wget --quiet -O - https://bintray.com/user/downloadSubjectPublicKey\?username\=bintray` and `sudo curl https://bintray.com/user/downloadSubjectPublicKey\?username=\bintray` return a valid GPG public key:
[code]

[2020-07-09 08:22] seisenreich commented on #238
This seems to be the gpg key entry added to my apt-key chain:
[code]

[2020-07-09 08:32] goudanz commented on #237
Questions 3：
yes, because sometimes the sql is very long and messy, so need a formatting function

before:
![image](https://user-images.githubusercontent.com/23636449/87016810-c55a3280-c201-11ea-8f79-db78ce3962ac.png)

after：
![image](https://user-images.githubusercontent.com/23636449/87016825-ca1ee680-c201-11ea-9c3d-aed18ae862ad.png)

[2020-07-09 14:11] seisenreich commented on #238
Nevermind. I had the same problem today trying to install balena etcher - with the same installation method: Add repo, add gpg key, install -> 403.
So it's obviously not problem beekeeper studio in particular!

[2020-07-10 21:59] alejnadro485 opened #242 "Time Execution"
Hi, I'm use Beekeeper Studio in my work and study, and it has really helped me.

It happened that I needed to optimize some queries and views, and I needed to know how long the execution of some routines (and other things) lasted to know if those changes were the solution, so I ask you if you would include information about the sentence execution time

In any case already many thanks

[2020-07-12 08:48] mariusa opened #243 "on db error, display error detail too"
Example with postgres command line:
`
ALTER TABLE persons ADD CONSTRAINT persons_key UNIQUE (company_id, first_name, last_name);
`
gives
[code]

beekeeper only shows
`
ERROR:  could not create unique index "persons_key"
`

Please show the detail too.

[2020-07-12 19:34] trevor-higbee opened #245 "Default schema"
Add a default schema for connection so that you don't have to keep writing the schema every time you query a table. So that instead of querying:

`select * from my_schema.my_table`

I can just set the context of the connection (or tab) to that schema and do:

`select * from my_table`

[2020-07-13 03:44] rathboma commented on #242
This is in master now! Will be in a release this week :muscle:

[2020-07-13 03:44] #242 closed

[2020-07-13 03:45] rathboma commented on #243
Ah, I thought I was providing all the error. I'll take a look.

[2020-07-13 03:46] rathboma commented on #245
What database type are you using? That works in most databases that I use, so for sure we can solve it.

[2020-07-13 16:29] trevor-higbee commented on #245
I'm using postgres. Is there something I should be doing at the connection level to indicate that I want to use one of the schemas for the default?

[2020-07-13 21:20] rathboma commented on #245
Oh I understand, it's using public as the schema by default, and you want to use another schema as the default?

Makes sense!

[2020-07-13 21:42] #228 closed

[2020-07-13 22:46] trevor-higbee commented on #245
Exactly.

[2020-07-14 02:40] rathboma commented on #62
Going to close this. I think it's resolved.

[2020-07-14 02:40] #62 closed

[2020-07-14 03:20] rathboma commented on #163
This is fixed in master.

[2020-07-14 03:20] #163 closed

[2020-07-14 06:56] gempir commented on #62
Jup works now in 1.5.3 thanks!

[2020-07-14 21:32] GrigoriyMikhalkin opened #246 "Context menu for DB objects"
Hi! Is there any plans to add context menu for database objects similar to one that pgadmin has?
![pgadmin_context_meny](https://user-images.githubusercontent.com/3637857/87478153-94c33000-c629-11ea-8e06-de7d3efd82e8.png)

Maybe one with less options than in pgadmin. E.g. it could provide options that would generate templates for dropping/creating table, viewing data and other often used operation

[2020-07-16 07:05] henhuy opened #247 "Pinned tables are not stored"
I noticed that my pinned tables for a database are not stored.
After closing and reopening application, all pinned tables are gone.
My stored queries are there, but no pinned tables...
Is it a bug? Or not implemented yet?
Would vote for storing pinned tables per DB.

[2020-07-17 14:19] GammaGames commented on #245
This can also be achieved by [altering the `search_path` of your role](https://stackoverflow.com/questions/2875610/permanently-set-postgresql-schema-path)

[2020-07-20 02:14] rathboma commented on #247
Hey,

You know, I actually never thought about this, but yes it makes total sense.

Agreed we should do this.

[2020-07-20 02:15] rathboma commented on #246
Yes, we have plans to do this! I'll keep around this ticket so you can see when we finally get it done. :-)

[2020-07-20 10:01] castlese commented on #26
The last time I had BeeKeeper open, it was in light mode. Now in dark. I see mention that there is no setting? Any tips for changing it?

[2020-07-20 13:03] rathboma commented on #26
Release coming out in the next few days! Stay tuned

[2020-07-20 16:25] #26 closed

[2020-07-20 18:03] rathboma commented on #238
Going to close this as it seems unrelated to us, but @seisenreich please let us know if you find out what was going wrong!

[2020-07-20 18:03] #238 closed

[2020-07-20 18:05] #211 closed

[2020-07-20 18:06] rathboma commented on #154
Closing this issue as it's super duper hard to get in the default repos

[2020-07-20 18:06] #154 closed

[2020-07-20 20:49] oojacoboo opened #249 "No window on MacOS v 1.6.x"
This is a fun one.  Downloaded it (1.6.4) for Mac OS (10.15.5), unpacked the dmg, moved the app to the `~/Applications` dir, and opened it.  I have the icon in the dock, I have the menu bar, but I don't have any windows.  Additionally, neither the `Window`, nor the `View` from the menu-bar have a main window option.  And there isn't anything else that seems likely to initiate the app.

[2020-07-20 21:24] rathboma commented on #249
Damn, we've seen this too, and I've been unable to replicate reliably. It only seems to affect MacOS.

The 1.5.x releases should work.

Before you move back, can you do me a favor and run it with this command in the terminal then copy and paste the output for me?:
[code]

[2020-07-20 21:29] oojacoboo commented on #249
Sorry, `/Applications` at the volume root, not user home dir.  Here is the output.  It looks like I don't have SQLite installed with Node.  I don't really want it either.  I haven't done any Mac OS development, but is it common to use SQLite for app storage?  What's SQLite used for here?  And, I'd assume, if this app is installing SQLite, that it's somehow sandboxed and not installed globally?

[c

[2020-07-20 22:02] rathboma commented on #249
I've been doing some investigation -- I think this may be a misleading error. I get this error, but my app launching works.

My co-creator has been able to replicate the error, so we're investigating now

[2020-07-20 22:37] rathboma commented on #249
can you open console.app, search at the top right for 'beekeeper', then open the app and see if you see any errors?

[2020-07-20 23:01] oojacoboo commented on #249
Wow, console.app has been updated quite a bit since I last saw it.  Here is what I found:

[code]

[2020-07-21 13:23] mariusa commented on #243
Another example, it has HINT too:
[code]

[2020-07-21 19:55] louis77 opened #251 "Postgres: error listing tables"
When I connect to a standard Postgresql 12 database, connection is successful but I don't see the list of tables or anything. I can execute queries though.
In the JavaScript console I see the following error message:
"error: column a.relname does not exist"

![Screenshot from 2020-07-21 21-54-34](https://user-images.githubusercontent.com/1240462/88100575-00168000-cb9d-11ea-881b-81634dcb8ac4.png)

[2020-07-21 20:03] rathboma commented on #251
I've got a fix coming up for this today!

[2020-07-21 21:09] rathboma commented on #249
@oojacoboo can you try version 1.6.9? https://github.com/beekeeper-studio/beekeeper-studio/releases/tag/v1.6.9

[2020-07-21 21:10] rathboma commented on #251
Fixed in 1.6.9

[2020-07-21 21:10] #251 closed

[2020-07-21 21:24] louis77 commented on #251
Thank you so much @rathboma , that was super fast and I can confirm it works now!

[2020-07-21 21:56] rathboma commented on #249
Got some confirmations that this is fixed. Thank god.

[2020-07-21 21:56] #249 closed

[2020-07-22 00:33] oojacoboo commented on #249
@rathboma no dice.

![image](https://user-images.githubusercontent.com/764664/88120663-71503600-cb91-11ea-84c7-146627c51845.png)

[2020-07-22 02:52] rathboma commented on #249
Ah, that's because you have to go to settings - security - general and allow running apps from other sources I think.

[2020-07-22 02:56] oojacoboo commented on #249
I don't think that's it.  I mean, I've had that enabled for years.  I know you had to re-enable again more recently, but that's been done as well.

![image](https://user-images.githubusercontent.com/764664/88129104-3a841b00-cba5-11ea-93a3-4ff070e699ac.png)

That said, it does say "identified developers".  Is it "signed"?

[2020-07-22 03:13] rathboma commented on #249
Yes it is signed, ant notarized.

That's weird. I double checked my settings and I don't get that error:

<img width="484" alt="Screen Shot 2020-07-21 at 10 11 10 PM" src="https://user-images.githubusercontent.com/279769/88130054-3bb24980-cb9f-11ea-8709-fd2d3a20fe14.png">

Questions:
- Are you using the DMG or Zip? I think maybe only the DMG is signed?
- Can you run from the terminal again and pos

[2020-07-22 03:33] oojacoboo commented on #249
Bingo!  I downloaded the zip b/c it said "mac".  Just tried the `.dmg` and it's working now.  So, issue resolved.  But you might want to nix that zip and add `mac` to the dmg so people are aware.  Thanks for the help.

[2020-07-22 03:50] rathboma commented on #249
Oh man, good find! Thanks for the amazing help debugging.

[2020-07-22 09:44] goudanz opened #252 "Table field cannot be opened"
![image](https://user-images.githubusercontent.com/23636449/88161756-fa737580-cc42-11ea-99fd-8e564a6c8fe6.png)

[2020-07-22 09:45] #252 closed

[2020-07-22 12:53] martindufresne opened #253 "My data no longer appears in 1.6.9 - Ubuntu 20.04"
Hello, this morning I downloaded the latest version of the application (1.6.9), but since then, when I connect, my data no longer appears to me. However, version 1.5.3 worked really well. I am on Ubuntu 20.04 and downloaded the appimage. But I also tested with the snap and the DEB and each package has the same result. Here is a screenshot.

![Screenshot from 2020-07-22 08-48-32](https://user-image

[2020-07-22 12:57] louis77 opened #254 "UNSUPPORTED_PROTOCOL when using SSL and TLSv1 or TLSv1.1"
I'm trying to connect to a MySQL with SSL turned on. Other clients connect successfully using these parameters:
`?useSSL=true&verifyServerCertificate=false`.

Beekeper however shows the following error message:
![Screenshot from 2020-07-22 14-54-53](https://user-images.githubusercontent.com/1240462/88178879-57633180-cc2b-11ea-9141-20772d0aea67.png)

OpenSSL is installed (version 1.1.1f-1ubuntu2).

[2020-07-22 12:59] louis77 commented on #253
Which database engine do you try to connect to?

[2020-07-22 13:01] martindufresne commented on #253
I am trying to connect to MySQL databases.

[2020-07-22 13:02] louis77 commented on #253
Do you have SSL enabled?

[2020-07-22 13:06] martindufresne commented on #253
No, it is not activated. And if I reinstall version 1.5.3, everything comes back. So I tell myself that there is something in the latest version that is causing the bug. Could there be a conflict with configuration files since I tested the Snap and DEB version as well?

[2020-07-22 17:52] rathboma commented on #253
Hmm, that's concerning. I'll take a look today for you

[2020-07-22 17:52] rathboma commented on #254
Hey @louis77,

I'll take a look for you today.

[2020-07-22 17:59] martindufresne commented on #253
thank you so much!

[2020-07-22 18:15] rathboma commented on #253
@martindufresne few questions to help me debug:
- What version of MYSQL?
- Can you give me the table schema (columns and types)? Even just the types is helpful

[2020-07-22 18:24] martindufresne commented on #253
I am on MySQL 8.0.20. I have attached a screenshot of my table.I have indeed errors in the console. I attach a screenshot. Which is weird, I don't have this problem in version 5.3.
![Screenshot from 2020-07-22 14-20-32](https://user-images.githubusercontent.com/2438127/88213405-b8d4d180-cc26-11ea-9c65-7fc0693cd2b9.png)
![Screenshot from 2020-07-22 14-22-45](https://user-images.githubusercontent.co

[2020-07-22 18:31] rathboma commented on #253
Ok, one more thing -- can you right click the console click save-as, save the .log file and share it here?

[2020-07-22 18:36] martindufresne commented on #253
Of course! It's sent! thanks again

[2020-07-22 18:45] rathboma commented on #253
Thanks! Hmm, unfortunately that doesn't show too much. I think one of the tables in the database has a schema that is breaking Beekeeper Studio somehow. I don't think its the orders table, but some other table.

Are you using any mysql plugins at all?

If you can, keep the console open, then click the 'refresh' button next to `tables and views' and see if it gives you any different looking errors,

[2020-07-22 18:51] martindufresne commented on #253
I am not using a MySQL plugin. And if I keep the console open and refresh, I don't have any new errors. I'm sorry for the trouble. But I greatly appreciate your efforts :)

[2020-07-22 19:01] MasterOdin commented on #253
It may be worth testing the build from #255 to see if it resolves your issues: https://github.com/beekeeper-studio/beekeeper-studio/actions/runs/178869355

[2020-07-22 19:10] martindufresne commented on #253
It works! Yeah! You're on fire ... Nice work and really, a big, big thank you for your help.

[2020-07-22 19:10] #253 closed

[2020-07-22 20:02] Hady-Eslam opened #256 "want the ability to make beekeeper like sql editor"
i have mysql file that i write all my commands in it then make it exported to my database
can you make beekeeper have the ability to open these files like editor without making connection
as it is very hard to use an editor and beekeeper at the same time.
or make beekeeper have the ability to save the tabs in sql files

[2020-07-22 20:41] rathboma commented on #256
Yes we need to add a way to do this for sure. For the time being I think you can drag/drop the sql file into the editor window of a tab to use it?

[2020-07-22 20:58] Hady-Eslam commented on #256
OK I will try

[2020-07-22 22:52] rathboma commented on #254
@louis77 couple of questions to help me debug:

1. Can you try the AppImage version and see if that behaves the same?
2. Can you open the development console (help -> show development tools) and see if there are error details in there? If so right click -> save as and send them to me?
3. Can you confirm whether your MySQL server is using TLS < 1.2? It might be using TLS v 1?

[2020-07-22 22:55] rathboma commented on #254
I think this is because Node by default uses TLS v1.2 minimum - hence my questions

[2020-07-23 15:42] lawless-m commented on #175
hey, you implemented it - thanks mate

[2020-07-23 19:30] rathboma commented on #254
@louis77 do me a favor and check this:

Open the console (help -> show development tools -> console) and run:
[code]

Then try connecting to your mysql database again.

[2020-07-23 19:32] rathboma commented on #16
@ransagy I think this was fixed a while ago right? You should be able to use AD credentials to log in now.

[2020-07-24 08:05] louis77 commented on #254
@rathboma I can confirm that with TLSv1 it works. So obviously my provider doesn't support TLS v1.2 yet.

[2020-07-24 16:02] rathboma commented on #254
Thank you so much for testing!

I'm going to treat this as a regression as it's due to upgrading from electron 5 (node 10) to electron 8 (node 12). I'll set the minimum to v1 by default.

[2020-07-24 16:05] rathboma commented on #237
Thanks for the detail!

Version 1.6.x supports multi-window, so you can open multiple connections side by side (Although not in the same window for now).

I agree the other features are super useful, and we'll certainly get to them at some point.

[2020-07-24 22:09] ransagy commented on #16
@rathboma I grabbed the latest released portable and tried again; Since the AD username is an email, It thinks im trying to connect to the host part of the email as a domain and fails. So i don't think it works right now, Unless im missing some specific way to indicate its Azure SQL.
Also, By the fact i have to enter a password, It doesn't support MFA mode yet, Which my organization now uses (MS A

[2020-07-25 13:44] kplachkov opened #258 "MongoDB support"
Would it be possible to add mongodb support?

[2020-07-25 17:26] ghstng commented on #233
Great suggestion; however, I like it how it is. If more people share this frustration, will consider changing.

[2020-07-25 17:26] #233 closed

[2020-07-27 13:29] keith-hall commented on #198
FWIW, I personally use https://github.com/TheAssassin/AppImageLauncher to automatically manage launcher menu entries for applications bundled in AppImage format. It may be easier to recommend that in the docs instead of adding instructions for creating a `.desktop` file.

[2020-07-27 22:57] rathboma commented on #258
I've thought about it, but most MongoDB users have fairly deep objects and not sure how good they'd look in a flat data table?

I've thought about having a 'json sidebar' or something for when you click on a json field, maybe that could work.

What do you think? How would you want nested data to be displayed?

[2020-07-27 22:58] #254 closed

[2020-07-27 22:59] rathboma commented on #240
@ghstng this done right?

[2020-07-27 22:59] rathboma commented on #232
Going to close this as it's old with no activity.

[2020-07-27 22:59] #232 closed

[2020-07-27 23:01] rathboma commented on #198
I do recommend AppImageLauncher in our docs, but it is a TOTAL pita and is hard to detect for the autoupdater.

Have you received an auto-update btw? Not 100% sure it's working with the launcher.

[2020-07-28 07:01] keith-hall commented on #198
Apologies, I admit I didn't check the docs, I just saw this issue while browsing and made the mistake of assuming you didn't know about AppImageLauncher.

I've only just started using Beekeeper Studio on Linux, but I think you're right about it not auto-updating when using AppImageLauncher. I downloaded the AppImage for Beekeeper Studio v1.6.9 and "integrated and ran it", and no auto-update occurr

[2020-07-28 10:13] Porkepix opened #259 "Allow to duplicate/clone a saved connection to edit a copy and keep most of the parameters"
Not much more to say than the title: it would be a nice addition to be able to copy/duplicate saved or recent connections to have another one with similar settings but not exactly the same, eg. keeps the SSH settings.

[2020-07-28 10:24] judsonjuniorr opened #260 "SQL Formatter"
Would it be possible to add an sql formatter?

[2020-07-28 10:45] sooxin opened #261 "Enhancement: Change the color of brackets in SQL when light theme is used"
In the current version(1.6.10), if **light theme** is used, the color of brackets in SQL makes it a little difficult to recognize.

![image](https://user-images.githubusercontent.com/16705366/88652992-13c26900-d0fe-11ea-8d0c-593f039809ec.png)

So would it be possible to change the brackets' color OR provide a function to customizing SQL color scheme?

*What's more, Beekeeper is an excellent and be

[2020-07-28 15:02] rathboma commented on #261
Doh, that's our bad. We'll fix it.

[2020-07-28 15:07] rathboma commented on #256
Strawman for how this would work:

1. Double clicking .sql files:
  - opens in most recent Beekeeper window
  - If not currently connected to a DB, asks you to connect before opening

2. Saving a query:
  - By default still save to the internal SQL store (database)
  - Add a dropdown on the save box for 'export to file'
  - If query was opened from a .sql file, auto-populate the file name in the e

[2020-07-28 15:35] rathboma commented on #220
Strawman:

1. Right click a table field, select 'open in sidebar'
2. Opens a right-side sidebar that pushes over the table and displays the column value
3. For JSON objects, provides nice JSON highlighting and navigation
4. When editing is a thing (it will be!), also provide an 'edit' button in the sidebar.
5. When sidebar is open, whenever you click a field in the table it shows it in the sidebar

[2020-07-28 16:04] kplachkov commented on #258
A json representation of the data will be a good solution, especially combined with a button that switches from `table` view to `json/text` view, similar to [jetbrains datagrip](https://www.jetbrains.com/datagrip/).

Although, I think [robomongo](https://robomongo.org/) provides the best UX and by combining that UX or a similar one with the power of having other db clients up your sleeve will make

[2020-07-28 16:33] ghstng commented on #261
fixed

[2020-07-28 16:33] #261 closed

[2020-07-28 16:50] ghstng commented on #27
v1.6.10

[2020-07-28 16:50] #27 closed

[2020-07-28 16:51] ghstng commented on #127
scalable text v1.6.10 (ctrl + =)

[2020-07-28 16:51] #127 closed

[2020-07-28 20:09] Hady-Eslam commented on #256
is it implemented or will be implemented in the next update ??

[2020-07-30 10:32] sooxin opened #262 "BUG: There're two menu bars and two title bars after changing menu style to native"
![image](https://user-images.githubusercontent.com/16705366/88912821-751b4100-d292-11ea-8c39-da6ecf6231a2.png)

Beekeeper Version: 1.6.11
OS: Windows 10 1903

[2020-07-30 12:58] rathboma commented on #262
You have to close the app totally, then reopen it.nif you just open a new window this will happen!

[2020-07-30 13:00] rathboma commented on #260
Yep! Totally possible, want to do this, just need a little time to get there :+)

[2020-07-30 16:25] mrr07 opened #263 "heavy use of RAM memory - Win10"
after running different queries, beekeeper uses a lot of memory, about 2 GB !!, and then crashes

![bee](https://user-images.githubusercontent.com/69007625/88948231-f3c3ae80-d291-11ea-8852-2c2c6bc09051.jpg)

[2020-07-30 19:16] williamjmorenor commented on #230
There is a update in how build electron app in a flatpak.

https://docs.flatpak.org/en/latest/electron.html

[2020-07-31 02:37] rathboma commented on #263
Hey! Thanks for bringing this up, I haven't seen this behavior. Let's fix it :-)

Some questions:

Did you have multiple tabs open with large query results in each, or just running one query tab over and over?

How large were the query results? In rows / columns

[2020-07-31 02:38] rathboma commented on #262
Can you let me know if this fixes it?

[2020-07-31 02:39] rathboma commented on #259
💯, I agree

[2020-07-31 02:40] rathboma commented on #258
Awesome information, thanks!

[2020-07-31 07:23] mrr07 commented on #263
I simply write a query in a tab and run it. Usually I don't have more than 5/6 tabs open. Queries are quite large, we are talking about 50000-200000 records but with few columns, maximum 12. For example, after running the following query
![image](https://user-images.githubusercontent.com/69007625/89010465-ea2c5c00-d30e-11ea-8821-2ea61de225c3.png)
I have a memory usage of about one GB
![image](http

[2020-07-31 12:24] sooxin commented on #262
Hi @rathboma ,

I just clicked "Close" button, then reopened it, unfortunately, this bug happened again.

Here's what I did:
![gif](https://user-images.githubusercontent.com/16705366/89034435-85ebb580-d36b-11ea-8922-9bff7ff13a10.gif)

[2020-08-01 08:50] goudanz commented on #237
@rathboma

thank you for your approval

[2020-08-01 15:04] whistlerbrk opened #267 "cmd-a to select an entire value in a form field"
I think this is an "enhancement".

In Quick Connect if you click into a field and attempt to select the entire value of the field with cmd-A (macos) it will not work, you'll have to tab out and in to get the full field selected by default.

[2020-08-01 16:03] UtechtDustin commented on #267
Works fine on Ubuntu, looks like a os depend issue.

[2020-08-03 03:51] herbygillot commented on #170
I think we are now good here. Closing.

[2020-08-03 03:51] #170 closed

[2020-08-03 14:58] jenstornell commented on #182
I think I have the solution to this problem with tables without primary keys. I asked that question on Stackoverflow a while ago.

https://stackoverflow.com/questions/62443984/how-to-uniquely-identify-all-rows-in-a-mysql-table-without-a-primary-key

[2020-08-04 02:27] myermakov opened #269 "MariaDB 10.5 ed25519 authentication plugin"
MariaDB 10.5 (CentOS7):
[code]

Beekeeper Studio (Win10):
"Server requests authentication using unknown plugin client_ed25519"

[2020-08-04 12:36] mohamed-azhar opened #270 "Context menu options on query window or query tab click"
- **Context menu options on right click to the query tab**
Pin one or more query windows
Closing options like (close, close all, close all but this, close all but pinned)
Option to open file containing folder

- **Context menu options on right click to the query editor window**
Allow to format the SQL queries

[2020-08-05 12:30] rathboma commented on #267
Totally a bug! This is an MacOS specific issue because Mac disables shortcuts unless you specifically add them to the menu (which I forgot, oops).

Will fix for the next release.

👋  @whistlerbrk

[2020-08-06 14:22] #259 closed

[2020-08-07 07:07] MrBretticus opened #273 "Retain LF/CR on copy or save"
Provide a similar feature/option to SSMS
![image](https://user-images.githubusercontent.com/253641/89618880-50e1e480-d8d0-11ea-8746-9d11ea908ea7.png)

[2020-08-07 07:16] UtechtDustin commented on #240
![Bildschirmfoto von 2020-08-07 09-16-34](https://user-images.githubusercontent.com/13292481/89619711-b614e600-d88e-11ea-8bfa-9ca1430ad850.png)
![Bildschirmfoto von 2020-08-07 09-16-29](https://user-images.githubusercontent.com/13292481/89619712-b6ad7c80-d88e-11ea-8e4e-681f9bc1ef10.png)

@rathboma Yes it is.

[2020-08-09 00:43] UtechtDustin opened #279 "SQL after connection is established"
In some cases you have to always execute a sql after client is connected to the database.

In my case its a old(!) project which dont use `ONLY_FULL_GROUP_BY`.
Which means if i try to debug a query i always get a error message from the databse which is correct because by default the database has full group by enabled.
In the application the full group by will be disabled after the application is c

[2020-08-09 00:46] UtechtDustin commented on #246
ref #275

[2020-08-09 16:11] 2prog opened #280 "Add a button to select results"
<img width="167" alt="CopyAll" src="https://user-images.githubusercontent.com/69429235/89736687-78b97f80-da6b-11ea-8856-bee8fb634eb1.PNG">

So we can select all than copy to clipboard instead of exporting results as a file.

[2020-08-09 16:33] rathboma commented on #280
Good idea! I like using this functionality too

[2020-08-09 16:35] rathboma commented on #280
The tabulator API supports this natively, so we could add a button as a short term solution.

http://tabulator.info/docs/4.0/clipboard#:~:text=The%20copy%20selector%20is%20a,table%20to%20the%20clipboard%20(default)

Bonus points: add a way to select multiple cells or rows for copying

[2020-08-09 16:36] rathboma commented on #280
@2prog can you test something:

1. Click a header of the table
2. Press ctrl-c
3. Does this copy the table?

[2020-08-09 16:40] 2prog commented on #280
@rathboma Clicking on header and than ctrl-c doesn't copy. The only way to copy is to click and drag, but this copies the data into one column in Excel, so it's not really functional.

[2020-08-10 08:43] lqmanh opened #281 "Reuse opening tabs instead of creating new ones"
When opening a table, I think it's a good idea to switch to the existing tab, instead of creating a new one.
Even better, we can handle middle clicks to open in new tabs like browsers and other apps, and/or handle right clicks to open context menu with an option to open in new tabs.

[2020-08-10 08:55] lqmanh commented on #96
@rathboma, how about both: showing table content AND expanding schema list?

[2020-08-10 09:03] UtechtDustin commented on #96
In my opinion the normal click should show the minmal table info (see screenshot above).
The double click should open the table content and there should be a option to toggle the view (schema of the table (coulmns etc.)).
As alternativ there should be a icon while hovering over the table names to open the schema view (similar to the existing icon for the table view)

[2020-08-10 12:42] rathboma commented on #96
Current opinion: I think we have it the right way.

Once we have right click menus we can also provide show schema and view data options in there.

I think UI expectations are that clicking on something that expands makes it expand. Maybe were just not communicating that expectation enough.

When writing SQL it's imperative that the sidebar is useful and responsive.

[2020-08-10 15:15] rathboma commented on #269
Thank you for this!

Definitely we need to support authentication plugins.

[2020-08-10 15:16] rathboma commented on #270
So queries are stored in the database (not files + folders), so that one doesn't work (we have a good reason for this which will become clear in an upcoming release), but all the others should be good.

[2020-08-10 15:18] rathboma commented on #273
So I understand this -- this means there are CR/LF values at the end of your actual database values and you want to retain them when you copy a cell value or export the table. Is that right?

[2020-08-10 15:20] rathboma commented on #279
This makes sense, and this is something I've done in other environments (Spark, Hive) a lot.

Agreed we should do this.

[2020-08-10 15:24] UtechtDustin commented on #273
Currently all new lines are broken, you can test it with this SQl:
[code]
![Bildschirmfoto von 2020-08-10 17-22-09](https://user-images.githubusercontent.com/13292481/89799693-17a6b000-db2e-11ea-8a14-a537bbf81704.png)

The cause is the tabulator, currently the type of the cells is "plaintext", which dont support new lines (see documenation).
So should use a formatter or something like that which r

[2020-08-10 15:24] rathboma commented on #281
I was on the fence about this when I implemented the current behavior, but there are a few reasons we're not doing this, and one big way to solve it:
1. It's nice to have two distinct views of a table (if you're looking for something)
2. We're working on foreign key go-to functionality, which requires multiple table-tabs
3. We're going to implement a global-search where you can type a table name t

[2020-08-10 15:24] #281 closed

[2020-08-10 16:43] UtechtDustin commented on #67
@rathboma isnt this issue/feature already implemented ?

[2020-08-10 20:18] ellisgl commented on #96
Here's what I see with SQLYog for refrence:
![image](https://user-images.githubusercontent.com/94559/89826808-6ba89900-db1c-11ea-8fd2-05c560ee4140.png)
![image](https://user-images.githubusercontent.com/94559/89826943-9266cf80-db1c-11ea-829d-f7857f36a566.png)

As you can see, I can click on the table, have the rows, then just do a query and have the results in another tab. This allows me to be go

[2020-08-10 20:21] UtechtDustin commented on #96
@ellisgl
You can open a query tab for your query (which contains your query and the result) and a tab with the table data.
So in my opinion it works quite good.

[2020-08-11 10:07] UtechtDustin commented on #280
I could do this issue.

The question is what is the best solution to select rows, as we also need a row selection for row deletion.
it seems the `selectable` option of the tabulator is not working with the editor option, that means wo have to add a column which is only for selecting the rows or as alternative we would add a checkbox to the columns start.

What do you think ?

[2020-08-12 02:48] rathboma commented on #280
I think we should punt on this for a little bit until after the editing branch. I don't like working on several issues in the same part of the codebase at the same time -- just asking for horrible merge conflicts :-)

[2020-08-13 16:03] #189 closed

[2020-08-13 16:10] rathboma commented on #151
This should be easy now. We have `totalRecords` available, so can just stick this somewhere in the footer, probably on the right next to the 'last update timestamp'

[2020-08-13 18:02] rathboma commented on #143
I think this is actually a good first issue -- we have hooks in the various database client libraries to get functions and procedures, they just need 'plumbing in' so to speak

[2020-08-13 22:42] #118 closed

[2020-08-14 02:42] silvesterwali opened #283 "how modify table content on beekeep-studio ?"
i have install beekeeper-studio on my ubuntu desktop but i cannot modify data inside table .
![image](https://user-images.githubusercontent.com/40487188/90208137-aa8b6700-de1a-11ea-9b3c-0c6a057f9628.png)

[2020-08-14 02:47] silvesterwali opened #284 "how to autosave connection password on beekeeper-studio ?"
every time i close beekeeper-studio and when  connect to saved connection always ask password for it.... any solution for that ?

[2020-08-14 02:57] #284 closed

[2020-08-14 02:58] silvesterwali commented on #284
i have found the solution :)

[2020-08-14 03:03] LoveSponge commented on #67
I've been happily exporting to xlsx since the last major update :grin:

[2020-08-14 03:05] rathboma commented on #283
I just merged a change tonight to enable this! :muscle: See PR #276

Release should be out soon with this feature (and others)

[2020-08-14 03:05] #283 closed

[2020-08-14 03:06] rathboma commented on #270
Some of these items are now merged! #285

[2020-08-14 03:07] rathboma commented on #262
lol, that's weird. I'll see if I can replicate.

[2020-08-14 03:09] rathboma commented on #262
Can you open 'Beekeepers Database' and send me a screenshot of the settings table? I want to see what the menustyle setting was set to.

[2020-08-14 14:30] rathboma commented on #263
Yep. I think this is due to the large result size. I have plans to fix this by sending query results to temporary files then paging them in as needed. That would keep the records in memory to ~100

As you clear query results the OS should start reclaiming memory

[2020-08-14 14:32] rathboma commented on #245
Yeah this is a good workaround from @GammaGames, thanks!

Appreciate the support for Beekeeper Studio! Our goal is for it to always be nice to use, so we promise to keep it visually straightforward :-)

[2020-08-14 14:34] rathboma commented on #245
I think actually the best solution for this would be #279 and adding the `search_path` query to that. I think that's a nice generalized solution we can build around.

[2020-08-14 14:40] mrr07 commented on #263
good idea!!!

[2020-08-14 15:23] rathboma commented on #267
Should be fixed in Master now

[2020-08-14 15:23] #267 closed

[2020-08-14 15:24] rathboma commented on #239
@rehpa Checking in to see if you can use your SSH Agent to do this?

If I don't get more info I'll have to close the ticket because I don't have a Yubikey to work through this with!

[2020-08-14 15:35] rathboma opened #287 "Ways to help without coding"
Thank you for supporting Beekeeper Studio!

Plenty of you wonderful people have asked how to help but don't know how to code in Vue and Electron.

Fear not! There are lots of things you can do to help the project

## Help Spread the Word

1. Writing honest (we mean it!) reviews on [Slant.co](https://www.slant.co/options/38208/~beekeeper-studio-review), [G2](https://www.g2.com/products/beekeeper-st

[2020-08-14 15:55] #67 closed

[2020-08-14 16:38] rathboma commented on #262
This is fixed in Master

[2020-08-14 16:38] #262 closed

[2020-08-14 17:26] UtechtDustin commented on #260
@rathboma Can be closed i guess :)

[2020-08-15 02:04] #199 closed

[2020-08-15 02:04] #208 closed

[2020-08-15 02:04] #209 closed

[2020-08-15 14:47] TravellerSam opened #290 "SSH Tunnel GUI switch in wrong state"
A saved connection with an SSH tunnel configuration shows the 'SSH Tunnel' switch state in wrong position: as switched off.

Version used: 1.6.11 on macOS 10.15.6 and Kubuntu 20.04.1 as AppImage.

![BeeKeeper ssh tunnel switch](https://user-images.githubusercontent.com/872730/90314814-e0ae1100-df16-11ea-8d9e-aae53cdc4b1f.png)

[2020-08-15 14:50] UtechtDustin commented on #290
How do you opened the SSH Tunnel configuration ?
The normal way is to toggle the switch (marked in your screenshot).

[2020-08-15 14:53] TravellerSam commented on #290
When configuring the connection the switch is fine (off and on in correct states). Just when the connection is configured with a tunnel and saved the switch gets drunk. :)

[2020-08-15 14:55] UtechtDustin commented on #290
Oh okay, can reproduce it on Ubuntu 20.04!

[2020-08-15 15:13] TravellerSam opened #292 "Request: Allow not to set a connection's default database"
When configuring a Postgresql connection and leaving out the Default Database field, the app tries connect to a database with a name of the configured username, giving a red error message:

"Database >>_User's name_<< doesn't exist"

For a PSQL connection I set the field to `postgres`, but I'm not very fond of this solution, as I don't need that database being open on connection.

Maybe my workflo

[2020-08-15 15:29] UtechtDustin commented on #292
Im not able to reproduce that issue (Ubuntu 20.04).
I think there is also only one use for the os username.
https://github.com/beekeeper-studio/beekeeper-studio/blob/dfb301fe33e5739ec3e15771eae7d9357f6c5904/src/lib/db/clients/postgresql.js#L732-L736
If no username is set for the connection we use the os username.

I normaly dont use postgresql, is there any "test" or "open" database where you can

[2020-08-15 16:12] TravellerSam commented on #292
I'm talking about the default _database_ name, not of the user. It has to be filled in, otherwise the connection doesn't take place. The application assumes that the default database name equals connection's user name.

As I workaround I put the standard `postgres` database name. It just would be more flexible if it wouldn't have to be set at all.

The issue is same for me in both macOS 10.15 and

[2020-08-15 17:57] UtechtDustin commented on #292
Oh okay i understand, i submitted a PR (#293) which automaticly use the `postgres` database instead of the username (if no default database is set).

[2020-08-17 13:13] #290 closed

[2020-08-17 20:26] #292 closed

[2020-08-17 20:33] rathboma commented on #280
I added a 'copy to clipboard' export in d85e08bf19448faaeee1544d162e179d693cafab!

That solves this issue for now.

[2020-08-17 20:33] #280 closed

[2020-08-17 20:37] UtechtDustin commented on #280
@rathboma Do you have to select the data first or something like that ?
The `copy to clipboard` export dont work for me.

[2020-08-17 21:44] rathboma commented on #280
Hmm, it worked in testing. I'll see if I broke something by mistake. I'll make sure it works before release

[2020-08-17 22:51] #260 closed

[2020-08-18 00:23] geovannimp opened #295 "Clicking "END" remove focus from editing field"
First, I was looking for a good sql editor for a long time and today I found this amazing project. Thanks for all your great working.

As I tested de editor, I missed the feature to edit fields but right after that i found that it was already merged. So I downloaded the master branch to test and its working really well, but when I'm editing a field and click 'END' the editor remove the focus from

[2020-08-18 11:42] UtechtDustin commented on #39
@rathboma can be closed i guess, as editing is possible with  #276.

[2020-08-18 16:11] rathboma commented on #39
Yep, this works! Got a few small changes I need to make, but then a release will be ready

[2020-08-18 16:11] #39 closed

[2020-08-18 16:51] rathboma commented on #295
It is not. I'm fixing a bunch of funky stuff like that before release. Thanks for bringing this one up specifically.

Looks like I'll have to either totally override keybindings for tabulator or patch it. I'll get it fixed before release though :-)

[2020-08-18 18:14] UtechtDustin commented on #176
We have to use the option `rowMode` for the sqlite client and `nestTables` for mysql.
For the other clients we have to check if there is a similar option.

[2020-08-18 19:48] rathboma commented on #176
Yeah this will be DB by DB and require some fairly big API changes. Will have to wait until after this mammoth release is out :+)

[2020-08-18 20:06] #129 closed

[2020-08-19 10:33] ejf-coders51 opened #297 "[Ubuntu] No ssl certificates fields"
Hi,

on ubuntu snap version 1.6.10 when i press enable ssl, no field about that appear. How i can set the certificates path?
![image](https://user-images.githubusercontent.com/67055839/90624420-371d9700-e218-11ea-8118-6a73c87182bc.png)

[2020-08-19 10:35] UtechtDustin commented on #297
Its currently not possible, see #109

[2020-08-19 16:11] the456gamer opened #298 "Support h2 databases"
Not sure if this is possible/feasable, but h2 support would be useful

https://www.h2database.com/html/main.html

[2020-08-19 16:53] kendallroth commented on #124
I would also recommend a warning when modifying (not reading) data on an instance labeled as "production"! Color coding connections is a very good step in the direction of production awareness, but physical prompts make it that much safer to perform risky operations (or more likely, prevent them from being performed).

[2020-08-19 17:08] rathboma commented on #124
@sundowndev I never responded, but I meant to say -- we'll never hide editor features behind an 'enterprise' version. That said we both want to work on this full time, so we're thinking about some online services to go along with the app, similar to how [insomnia](https://insomnia.rest) does it.

@kendallroth our table editing will not auto-save changes, but will require you to click `save/commit`

[2020-08-19 17:09] rathboma commented on #298
Agreed! This will require the JDBC connector, which I haven't tested yet, but is certainly possible.

[2020-08-19 17:11] rathboma commented on #297
Sorry this isn't part of the build yet :-/.

It really just requires some solid time to sit down and test this with all the different database types.

[2020-08-19 17:11] rathboma commented on #297
Going to close as a dupuplicate of #89

[2020-08-19 17:11] #297 closed

[2020-08-19 22:22] #54 closed

[2020-08-19 22:22] #128 closed

[2020-08-19 22:22] #151 closed

[2020-08-19 22:22] #185 closed

[2020-08-19 22:22] #295 closed

[2020-08-20 03:26] kendallroth commented on #124
@rathboma ah, what I was meaning was something like DBeaver (I think?), where `UPDATE`, `DELETE`, etc operations will prompt the user for confirmation when running on a production connection (I believe it is an optional toggle?). So it's a step further than clicking `save/commit` or hitting `ctrl + enter`, to prompt the user to make sure they know what is going to be run (ie. selected, whatver). D

[2020-08-21 07:10] ejdanderson opened #300 "feature: Support database connections using a socket path rather than a host and port"
It looks like there are hints at connecting directly with a socket path https://github.com/beekeeper-studio/beekeeper-studio/blob/9ff3131030057364f31f3034677fc0f6a9bd48b5/src/lib/connection-provider.js#L23

https://github.com/beekeeper-studio/beekeeper-studio/blob/2521b8c66721c7e634a006a992bad4e4f1f6153e/src/lib/db/server.js#L22

But there does not appear to be anything in the UI to indicate how y

[2020-08-22 16:20] sensnerd opened #302 "App icon is a bit larger - Mac OS"
Hi, Thank you so much for creating this App. I just found that the app icon is a bit larger than the others, especially
on Mac OS.  It's not an important issue, but I think its very good for app enhancement. Have a nice day!

Screenshot :

<img width="860" alt="Screen Shot 2020-08-22 at 23 53 41" src="https://user-images.githubusercontent.com/47457477/90960714-3d409b80-e4d6-11ea-909f-31b117606cbf.

[2020-08-25 13:37] mariusa commented on #178
Was this included in https://github.com/beekeeper-studio/beekeeper-studio/releases/tag/v1.6.11 ?

[2020-08-25 14:33] rathboma commented on #178
Yes! It's back! Good point. Will close this ticket.

[2020-08-25 14:33] #178 closed

[2020-08-25 17:03] xdiepx commented on #287
The ability to view store procedures and what the code looks like

[2020-08-26 00:47] MrBretticus commented on #135
Can confirm that I am also seeing significant slow down on wide tables, in my case 171 columns (even if selecting only the top 10 rows for example).

Only have the one query tab open.

[2020-08-26 03:07] rathboma commented on #135
Yep! I'm in regular contact with Oli from Tabulator, version 4.8 should help a bunch, the full 5.0 release will fix it for good.

[2020-08-26 13:39] phillpafford commented on #173
Any update on this change? this is one of the main reasons I can not use as my main db tool

[2020-08-26 16:31] rathboma commented on #173
Hey @phillpafford this is in the latest version and working great. It does 2 queries (well 4 due to materialized views)

Also a big release coming later this week with:
- table editing
- Foreign keys linking to the foreign key table (one click go-go)
- sql formatting

[2020-08-27 16:30] mrr07 opened #305 "FEAT: Button to clear history of queries or saved queries"
An option that allows you to delete queries you no longer need, either individually or as a group

[2020-08-27 22:23] rathboma commented on #305
Yes, we should have this functionality.

In the meantime here is a fun workaround:

`Help -> Add Beekeeper's Database`

Then go to the connection manager and connect to `Beekeeper's Database`

Then you can query, delete, or update the history as you see fit :-)

[2020-08-27 22:25] rathboma commented on #305
This could be broken into two different PRs:

1. Simple right-click context menu to delete a query from the history / stash

2. A more complex multi-select plus right-click to delete multiple queries

[2020-08-28 15:49] ghstng commented on #302
rgr

[2020-08-31 03:57] ccrvlh opened #310 "FEAT: View table Structure"
**Is your feature request related to a problem? Please describe.**
It's frustrating not have an overview of your tables: column, types, defaults, indexes, fk, collation etc.
Sequel Pro makes this beautifully for MySQL, and Postico does a great job for Postgres

**Describe the solution you'd like**
The option to have the table schema/structure.
Probably could be implemented with double click in the

[2020-08-31 07:55] mariusa commented on #198
Note, when switching windows on Linux with Alt+Tab there's no icon in the 'opened windows' display.

Maybe this is related: https://github.com/electron-userland/electron-builder/issues/4617

[2020-08-31 14:03] LeeMendelowitz opened #311 "BUG: Slow render time when opening table in tab due to counting rows"
**Describe the bug**

When previewing the content of the table, the tab is very slow to load (on the order of 10+ seconds) if the table is large (has millions of rows). This is because BeeKeeper is issuing a `SELECT COUNT(*) from table;` statement to display the number of rows at the bottom left corner of the tab, and this query takes several seconds to run. A simple select against the table runs

[2020-08-31 14:38] UtechtDustin commented on #311
For Mysql we could use
[code]

[2020-08-31 17:28] pedroapfilho opened #313 "FEAT: Provide a separate view for long, complex column data"
**Is your feature request related to a problem? Please describe.**

With `PostgreSQL` you can have `JSON` inside a cell, and sometimes it's very large, so it's hard to see the table data, making me scroll to the right a lot, to see the other data

**Describe the solution you'd like**

It would be good to have a smaller cell at the beginning, like a max-width for the first render.

**Describe alter